{# Header#}
{% include componentroot ~ '/4-organisms/header/header.twig' with {'no_hero': 'true'} %}

{# Main Page Content #}
<div class="clearfix no-hero" id="main">
  <section class="page-intro">
    <div class="col-12-xs col-12-sm col-8-md">
      <h2>Go Boating Today</h2>
      <p>No boat? No problem. Round up your crew, take the helm and head out on a voyage of boating discovery. Rentals and charters let you enjoy a wide variety of boating adventures—from fishing to cruising to sailing or water sports— without owning a boat. They’re a great way to try different boat types if you’re thinking about buying a boat or trading up to a bigger model.</p>
    </div>
    <div class="col-12-xs col-12-sm-col-4-md">
      <a href=""><img src="../templates/styleguide/builder/assets/grid-image.png" alt=""></a>
      <div class="title"><a href="">5 Things to know About Renting</a></div>
      <div class="slugline">Feb 2018 | Author Name</div>
    </div>
  </section>
  <section class="go-boating-map">
    {% include componentroot ~ '/4-organisms/boating_map/boating_map.twig' %}
  </section>
  <section class="section-header">
    <h3>Featured Articles</h3>
    <p>Inspirational stories, educational articles, and tips for new &amp; experienced captains</p>
  </section>
  <section class="grid">
    {% include componentroot ~ '/5-templates/grid_containers/3_up_news_items.twig' %}
  </section>
</div>

{# Footer #}
{% include componentroot ~ '/4-organisms/footer/footer.twig'  %}