
<h3 class="small">Jet Boat Statistics</h3>
<div class="product-stats">
  <ul>
    <li><i class="icon icon-db-circle-activities-o"></i><strong>Day Cruising</strong></li>
    <li><i class="icon icon-db-circle-passengers-o"></i><strong>10 Max</strong></li>
    <li><i class="icon icon-db-circle-boat-o"></i><strong>15-26 FT</strong></li>
    <li><i class="icon icon-db-circle-propeller-o"></i><strong>Jet Propulsion</strong></li>
    <li><i class="icon icon-db-circle-trailer-o"></i><strong>Trailerable</strong></li>
  </ul>
</div>