
<div class="hero-static">
  <section style="background-image:url('{{ image_background }}')">
    <div class="flex-container">
      <div class="col-12-xs">
        <h1 class="small screen-md-up">
          {{ title }}
        </h1>
        <h2 class="small screen-md-up-hidden">
          {{ title }}
        </h2>
      </div>
    </div>
  </section>
</div>