.faq-list {
  text-align: left;

  .faq-question {
    outline: 0;
    line-height: 1.5;
    padding: 1rem 0;

    &:not(:first-child) {
      border-top: 1px solid $colorname-gray-silver-sand-alt;
    }
  }

  .faq-question > button {
    color: $colorname-black;
    font-size: rem-calc(16px);
    font-weight: $font-weight-semibold;
    border: 0;
    background-color: transparent;
    padding: 0;

    &:after {
      color: $city-color-secondary;
      font-weight: inherit;
      font-size: rem-calc(26px);
      margin-left: rem-calc(3px);
      vertical-align: -3px;
    }

    &[aria-expanded=false]:after {
      content: "\0002B";
    }

    &[aria-expanded=true]:after {
      content: "\02212";
    }
  }

  .faq-answer {
    height: auto !important;
    margin-left: 0;
  }

  .faq-answer > div {
    padding-bottom: 1rem;
  }
}
