{%
set classes = [
  'section-vertical-padding-both',
  'container-type--contract',
]
%}
<section {{attributes.addClass(classes)}}>
  {{ context_links }}
  <div class="container">
    <section class="brick brick--type--headline-brick slab-inverted section-header">
      <h2>
        <span>{{entity.field_brick_headline}}</span>
      </h2>
    </section>
    <div class="container">
      <section class="brick brick--type--section container-type--normal has-background-color slab-white section-vertical-padding-both options-wrap">
        <div class="container">
          {% if collapsible %}
            <div class="filter-buttons">
              <span class="filter-btn toggle-filters"><i class="fa fa-filter" aria-hidden="true"></i>Filters</span>
              <span class="filter-btn close-filters">&times;</span>
            </div>
          {% endif%}
          {{entity.field_block}}
        </div>
      </section>
    </div>
  </div>
</section>
