<div class="play-block">
  <span class="js-video-modal" data-videoid="{{ video_id }}" data-videocontainer="true" data-gtm-tracking="Video - {{ content.field_video_title }} - Featured Articles">
    <div class="image curve-corner">
      <div {% if video_image is not empty %} style="background-image: url({{ video_image }});"{% endif %}></div>
      <div class="play-container">
        <i class="icon icon-db-video-play"></i>
      </div>
      <div class="item-title">
        <span>{{ content.field_video_title }}</span>
      </div>
    </div>
  </span>
</div>
