{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}

    <section class="page-content">
        <article {{ attributes.addClass(classes) }}>
        <div class="main-content col-12-xs col-12-sm col-8-md">
            <h3>{{ label }}</h3>
            <div class="slugline">{{ node.getCreatedTime|format_date('month_year') }}</div>
            {{ content|without('comment', 'links') }}
        </div>
        </article>
    </section>
    <!-- /content -->

<!-- /article #node -->
