<div class="col-12-xs col-12-sm col-4-md">
  <div class="grid-item--article">
    <div class="grid-item--content">
      <div class="title">{{ node.label }}</div>
      <div class="body">
        {{ content.field_bus_address }}
        {{ content.field_bus_phone }}
        <br />
        {{ content.field_bus_url }}
      </div>
    </div>
  </div>
</div>
