<div class="col-12-xs col-12-sm col-4-md">
  <div class="grid-item--article">
      <div class="title" style="margin-bottom: 0">{{ node.label }}</div>
      <div class="body">
        {{ content.field_accessory_mfr_website }}
      </div>
  </div>
</div>
