<section class='flex-container'>

<div class="col-4-md">
  <div class="image curve-corner" style="background-image: url({{ path }})">
  </div>
</div>
<div class="col-8-md">
  <h5 class="small"><a href="{{ url }}" rel="bookmark">{{ node.label }}</a></h5>
  {{ content.field_article_teaser }}
</div>
</section>
