{# Header#}
{% include componentroot ~ '/4-organisms/header/header.twig'  %}

{% include componentroot ~ '/4-organisms/hero/hero.twig'  %}

{# Main Page Content #}
<div class="clearfix" id="main">
  <section class="section-header">
    <h3>Find Your Perfect Boat</h3>
    <p>Whether high speed or low key there's a boat for every lifestyle and occasion</p>
  </section>
  <section class="flex-container">
    <div class="col-12-xs col-6-sm col-4-md">
      <div class="grid-item--link">
        <div class="grid-item--content">
          <div class="curve-corner">
            <a href="">
              <img src="../templates/styleguide/builder/assets/grid-image.png" alt="">
              <div class="item-title">
                Salt &amp; Fresh Water Fishing
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12-xs col-6-sm col-4-md">
      <div class="grid-item--link">
        <div class="grid-item--content">
          <div class="curve-corner">
            <a href="">
              <img src="../templates/styleguide/builder/assets/grid-image.png" alt="">
              <div class="item-title">
                Salt &amp; Fresh Water Fishing
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12-xs col-6-sm col-4-md">
      <div class="grid-item--link">
        <div class="grid-item--content">
          <div class="curve-corner">
            <a href="">
              <img src="../templates/styleguide/builder/assets/grid-image.png" alt="">
              <div class="item-title">
                Salt &amp; Fresh Water Fishing
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12-xs col-6-sm col-4-md">
      <div class="grid-item--link">
        <div class="grid-item--content">
          <div class="curve-corner">
            <a href="">
              <img src="../templates/styleguide/builder/assets/grid-image.png" alt="">
              <div class="item-title">
                Salt &amp; Fresh Water Fishing
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12-xs col-6-sm col-4-md">
      <div class="grid-item--link">
        <div class="grid-item--content">
          <div class="curve-corner">
            <a href="">
              <img src="../templates/styleguide/builder/assets/grid-image.png" alt="">
              <div class="item-title">
                Salt &amp; Fresh Water Fishing
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12-xs col-6-sm col-4-md">
      <div class="grid-item--link">
        <div class="grid-item--content">
          <div class="curve-corner">
            <a href="">
              <img src="../templates/styleguide/builder/assets/grid-image.png" alt="">
              <div class="item-title">
                Salt &amp; Fresh Water Fishing
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-footer">
      <a href="" class="button--secondary">Explore All Boats</a>
    </div>
  </section>
  <section class="disruptor">
    {% include componentroot ~ '/4-organisms/disruptor/disruptor_discover_boating.twig' %}
  </section>
  <section class="section-header">
    <h3>Boating Stories &amp; Fish Tales</h3>
    <p>Inspirational stories, educational articles, and tips for new &amp; experienced captains</p>
  </section>
  <section class="grid">
    {% include componentroot ~ '/5-templates/grid_containers/3_up_news_items.twig' %}
  </section>
</div>

{# Footer #}
{% include componentroot ~ '/4-organisms/footer/footer.twig'  %}
