

//Set width on select lists
#loan-calc-wrapper {
  padding: 0;

  .form-item {
    width: 100%;
  }

  .select-main {
    background-color: $color-blue-gray;
    border: none;
    font-family: $font-light;
    height: 36px;
    margin: 0;
    width: 100%;
  }

  .chosen-container-single {
    //This is needed because the width of the chosen is calculated before the dropdown is visible in the tabs.
    //Otherwise, the secondary tab chosen components are 0 width.
    width: 100% !important;

    .chosen-single {
      height: 36px;
      border: 1px solid $color-gray;
      border-radius: 3px;
      background-color: $color-blue-gray;
      background: none;
      background-clip: padding-box;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #444;
      line-height: 36px;

      div {
        b {
          background-image: none !important;
        }
      }

      i {
        top: 0;
      }
    }
  }

  .select-main:required:invalid {
    font-family: $font-light-italic;
  }

  option[value=""][disabled] {
    display: none;
  }

  .ui-tabs-nav {
    li.ui-tab {
      border: none;
      padding: 0;

      a {
        background: none;
        color: $color-aqua;
        padding: rem-calc(10px);
      }

      &.ui-tabs-active {
        a {
          background: $color-blue-gray;
          outline: none;
        }
      }
    }
  }

  .ui-corner-all,
  .ui-corner-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .ui-tabs-panel {
    background: $color-blue-gray;
    border: none;
    padding-bottom: rem-calc(30px);
    padding-top: rem-calc(30px);
  }

  .form-field,
  .total-price {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .list-item {
    margin: 20px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .total-price {
    padding: 10px 0 20px;
  }

  .step-title {
    font-family: $font-bold;
    font-weight: bold;
    min-width: rem-calc(100px);
    max-width: rem-calc(100px);
    line-height: rem-calc(16px);
  }

  .js-calculate-monthly,
  .js-calculate-amount {
    margin-left: rem-calc(100px);
    padding: 13px 45px;
  }

  .total-cost {
    width: 100%;
  }
}

// Mobile: > 576px

@include media-breakpoint-up(sm) {
  #loan-calc-wrapper {
    .ui-tabs-nav {
      li.ui-tab {
        a {
          padding: rem-calc(20px);
        }
      }
    }

    .step-title {
      min-width: rem-calc(230px);
      max-width: 100%;
    }

    .js-calculate-monthly,
    .js-calculate-amount {
      margin-left: rem-calc(230px);
    }
  }
}
