<div class="content-slider js-nmma-carousel">
  <div class="slide">
    <div class="flex-container" style="background-image: url('../templates/styleguide/builder/assets/contentSliderPlaceholder.jpg'); height: 402px; width: 100%;"></div>
  </div>
  <div class="slide">
    <div class="flex-container" style="background-image: url('../templates/styleguide/builder/assets/contentSliderPlaceholder1.jpg'); height: 402px; width: 100%;"></div>
  </div>
  <div class="slide">
    <div class="flex-container" style="background-image: url('../templates/styleguide/builder/assets/contentSliderPlaceholder2.jpg'); height: 402px; width: 100%;"></div>
  </div>
</div>
