{% set componentroot = '/themes/custom/nmma/sass' %}

<div class="page-search" {{ attributes.setAttribute('id', 'pg__c') }}>

  <!-- ______________________ HEADER _______________________ -->

   <header class="header {% if hero is empty %}no-hero{% endif %}">
    <div class="container">
      <div class="logo">
        <a href="/">
          <img class="logo-white" src="/themes/custom/nmma/images/logo-white.png" alt="Discover Boating">
          <img class="logo-color" src="/themes/custom/nmma/images/logo-color.png" alt="Discover Boating">
        </a>
      </div>
      <div class="header__right">
        
        {{ page.header }}

        <div class="search">
          <a href="" class="search-trigger">
            <i class="icon icon-db-search"></i>
            <i class="icon icon-db-close"></i>
          </a>
        </div>
        <div>
          <a class="mobile-trigger" href="">
            <i class="icon icon-db-menu"></i>
            <i class="icon icon-db-close"></i>
          </a>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- ______________________ HERO _______________________ -->

  <!-- /hero -->
  {% if hero %}
    {{ hero }}
  {% endif %}

  <!-- ______________________ MAIN _______________________ -->

  <div class="clearfix" id="main">

      <section class="page-content">

      {{ page.content }}

      </section>



  </div>
  <!-- /main -->

  <!-- ______________________ FOOTER _______________________ -->

  {% include componentroot ~ '/4-organisms/footer/footer.twig'  %}
  {#{% if page.footer %}#}
    {#<!-- /footer -->#}
  {#{% endif %}#}

</div>
<!-- /page -->
