//Search styles

.search {
  a {
    color: $color-white;
  }
}

header.drawer-open .search a {
  color: $color-aqua;
}

.search-trigger {
  display: block;
  height: 25px;
  text-align: center;
  width: 25px;
}

//no-hero variant
.no-hero .search a {
  color: $color-aqua;
}
