<div class="search-bar">
  <form action="/search">
    <div class="submit-input-field">
      <input type="text" id="inputSubmit" name="keywords" placeholder="Search">
      <input class="button" type="submit" value="">
      <i class="icon icon-db-search"></i>
    </div>
  </form>
</div>