

.hamburger {
  cursor: pointer;
  display: block;
  height: 14px;
  position: relative;
  -o-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -o-transition: 0.5s ease-in-out;
  -moz-transition: 05s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 15px;

  span {
    background: $color-white;
    border-radius: 9px;
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    width: 100%;
  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2) {
    opacity: 0;
  }

  span:nth-child(2),
  span:nth-child(3) {
    top: 6px;
  }

  span:nth-child(4) {
    top: 12px;
  }
}

.mobile-menu-active .hamburger {
  span {
    background: $color-aqua;
  }

  span:nth-child(1) {
    left: 50%;
    top: 18px;
    width: 0%;
  }

  span:nth-child(2) {
    opacity: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  span:nth-child(4) {
    left: 50%;
    top: 18px;
    width: 0%;
  }
}

//No Hero Variant
.no-hero .hamburger {
  background: $color-aqua;
}
