<div class="disruptor-bkgrnd--left"></div>
<div class="disruptor-bkgrnd--right"></div>
<div class="container flex-container">
  <div class="disruptor-content--left col-12-xs col-12-sm col-6-md">
    <i class="icon-db-boat"></i>
    <h4>Shopping For a Boat?</h4>
    <p>Read our Boat Shopping Guide to learn everything you need to know about buying a new boat...from financing and inspections, to driving and storage, and more</p>
    <a href="" class="button">Boat Shopping Guide</a>
  </div>
  <div class="disruptor-content--right col-12-xs col-12-sm col-6-md">
    <i class="icon-db-steering-wheel"></i>
    <h4>Owning & Operating</h4>
    <p>Boat ownership comes with costs and responsibilities you need to be familiar with. Know what to plan for - read our Owning & Operating Resources.</p>
    <a href="" class="button">Owning &amp; Operating Resources</a>
  </div>
</div>
