<div class="disruptor-stacked">
	<div class="disruptor-bkgrnd--left-image"></div>
	<div class="disruptor-bkgrnd--right-gray"></div>
	<div class="container flex-container">
		<div class="disruptor-content--image col-12-xs col-12-sm col-6-md">
			<img src="../templates/styleguide/builder/assets/product-disruptor.png" alt="">
		</div>
		<div class="disruptor-content--right-gray col-12-xs col-12-sm col-6-md">
			<h4>Selecting Your Freshwater Fishing Gear</h4>
			<p>With nearly 8 million Canadians listing fishing as their preferred leisure activity, recreational anglers out number participants in most other outdoor sports. Successful anglers mix patience, skill, finesse, and sometimes brawn to land their catch. Having the right equipment makes it easier to achieve success and enjoy the sport.</p>
			<h4>Related Content</h4>
			<a href="">Freshwater Fishing Accessories</a>
		</div>
	</div>
</div>
<div class="disruptor-stacked">
  <div class="disruptor-bkgrnd--left"></div>
	<div class="disruptor-bkgrnd--right-image"></div>
	<div class="container flex-container">
		<div class="disruptor-content--left col-12-xs col-12-sm col-6-md">
			<h4>Pro Tip</h4>
			<p>Cast your lure and reel it back in. Watch it all the way to the boat. It should come back straight. If it runs to the right, tweak the eyelet to the left with dome needle nose pliers or vice versa if it runs to the left. An untuned lure won't present properly and won't catch fish.</p>
			<p>- Walt Ermanson</p>
		</div>
		<div class="disruptor-content--image col-12-xs col-12-sm col-6-md">
		  <img src="../templates/styleguide/builder/assets/product-disruptor.png" alt="">
		</div>
	</div>
</div>

