<div class="disruptor-bkgrnd--left-image"></div>
<div class="disruptor-bkgrnd--right-gray"></div>
<div class="container flex-container">
  <div class="disruptor-content--image col-12-xs col-12-sm col-6-md">
    <img src="../templates/styleguide/builder/assets/product-disruptor.png" alt="">
  </div>
  <div class="disruptor-content--right-gray col-12-xs col-12-sm col-6-md">
    <h4>Headline Goes Here</h4>
    <p>To receive information from dealers and manufactures on various boats types and models.</p>
    <a href="" class="button--secondary">Contact Dealers &amp; Manufacturers</a>
  </div>
</div>