<div class="disruptor-bkgrnd--left"></div>
<div class="disruptor-bkgrnd--right-gray"></div>
<div class="container flex-container">
  <div class="disruptor-content--left col-12-xs col-12-sm col-6-md">
    <h4>Make Next Weekend the Best One Yet</h4>
    <ul class="disruptor--list">
      <li><a href="">Sailing</a></li>
      <li><a href="">Freshwater Fishing</a></li>
      <li><a href="">Saltwater Fishing</a></li>
      <li><a href="">Waterports</a></li>
    </ul>
  </div>
  <div class="disruptor-content--right-gray col-12-xs col-12-sm col-6-md">
    <h4>Training &amp; Education</h4>
    <p>Boat ownership comes with costs and responsibilities you need to be familiar with. Know what to plan for - read our Owning & Operating Resources.</p>
    <a href="" class="button--secondary">Owning &amp; Operating Resources</a>
  </div>
</div>