.boat-filter-block {
  .boat-finder__tabs-wrapper {
    padding: 0;
    border-radius: 0;

    .ui-tabs-nav {
      display: none;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      li.ui-tab {
        border: none;
        flex-grow: 1;
        float: none;
        margin: 0;
        text-align: center;

        a {
          background: none;
          color: $color-aqua;
          display: block;
          float: none;
          padding: 20px 0 10px;

          .icon {
            @include font-size(35px);

            color: $color-gray-dark;
            display: block;
          }
        }

        &.ui-tabs-active {
          border: none;
          margin: 0;
          padding: 0;

          a {
            background: $color-blue-gray;
            outline: none;
          }
        }
      }
    }

    .ui-tabs-panel {
      background: $color-blue-gray;
      border: none;
      border-bottom: 1px solid $color-gray;
      box-sizing: border-box;
      padding: 20px 20px 0;
      margin-left: -20px;
      width: calc(100% + 40px);
    }
  }

  .filter-body {
    font-size: $font-size-body-copy;
    
    .filter-description {
      padding-bottom: 20px;
    }

    .filter-options {
      input,
      .icon {
        display: none;
      }

      ul {
        li {
          display: block;
          margin-bottom: 20px;
        }
      }

      .toggle-wrapper {
        .icon {
          display: block;
        }
      }

      .filter-range-option {
        margin: 20px 0 40px;
        padding: 0 20px;
      }
    }
  }

  .boat-filter-keywords {
    align-items: center;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;

    .filters-label {
      margin: 0 10px 10px 0;
    }

    .filter-keyword {
      @include font-size($font-size-body-copy-small);

      background: $color-gray-dark;
      color: $color-white;
      font-family: $font-regular;
      margin: 0 10px 10px 0;
      padding: 10px;

      &:hover {
        background: $color-gray-dark;
        border: solid 1px $color-gray-dark;
        color: $color-white;
      }

      a {
        @include font-size($font-size-body-copy-xsmall);

        color: $color-white;
        margin: 3px 0 0 10px;
      }
    }

    .btn-reset-filters {
      display: block;
    }
  }
}

.boat-item-boxes {
  @include flex-container();

  img {
    height: 100%;
    max-width: none;
    left: 50%;
    min-width: 100%;
    position: absolute;
    transform: translate(-50%, 0);
    width: auto;
  }

  .boat-item-box {
    & > a {
      display: block;
      height: 180px;
      overflow: hidden;
      position: relative;

      .curve-corner {
        height: 100%;

        &::before {
          background: url('/themes/custom/nmma/images/boatfinder-overlay.png') repeat-x scroll 0 0;
          content: ' ';
          display: block;
          height: 100%;
          position: absolute;
          top: 67px;
          width: 100%;
          z-index: 1;
        }
      }
    }

    .boat-item-box-actions {
      @include font-size($font-size-body-copy-xsmall);

      font-family: $font-regular;
      padding: 15px 20px;

      .icon {
        @include font-size(12px);

        margin-right: 5px;
        top: 2px;
        position: relative;
      }
    }
  }

  h5 {
    bottom: 0;
    box-sizing: border-box;
    color: $color-white;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 2;

    &::before {
      content: '';
    }

    &::after {
      content: '\0044';
      font-family: 'DiscoverBoating';
      font-size: 0.75em;
      margin-left: 5px;
    }
  }
}


#boat-filter {
  display: none;
}
//
// Responsive breakpoints
//

// Tablet and Above: > 768px

@include media-breakpoint-up(md) {
  #boat-filter {
    display: block;
  }

  .boat-filter-mobile {
    display: none;
  }

  .boat-filter-block {
    .boat-finder__tabs-wrapper {
      ul {
        // Avoid FOUC
        display: none;
      }

      .ui-tabs-nav {
        display: flex;
      }
    }

    .filter-body .filter-options {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        li {
          display: inline-block;
          width: 25%;
        }
      }

      .filter-range-option .noUi-target .noUi-ranges {
        div {
          justify-content: space-between;
        }

        &._4 {
          div > :nth-child(1) {
            padding-left: 25.5%;
          }
        }

        &._7 {
          div > :nth-child(1) {
            padding-left: 22%;
          }
        }
      }
    }

    .boat-filter-keywords {
      display: flex;
    }
  }
}
