
.js-mobile-compare {
  a {
    color: $color-white;
  }

  h3 {
    color: $color-white;
    font-family: "Antenna", "Helvetica", sans-serif;
    font-weight: 300;
  }
}

.js-mobile-compare-slider {
  .slick-arrow {
    display: block !important;
    height: 50px;
    padding: 0;
    top: 0;
    width: 70px;

    &::before {
      color: $color-white;
      display: block;
      font-family: "DiscoverBoating";
      font-size: 20px;
      opacity: 1;
      padding: 0;
      transition: opacity 0.2s ease;
    }

    &.slick-prev::before {
      text-align: left;
    }

    &.slick-next::before {
      text-align: right;
    }
  }

  .slick-slide {
    outline: 0;
  }
}

.mobile-compare-header {
  border-bottom: solid 1px $color-white;
  padding: 20px 0;

  & > .flex-container {
    align-items: center;
  }
}

.mobile-compare-body {
  padding: 20px;

  .compare-header-empty-holder {
    //border-top: solid 1px $color-white;
    text-align: center;
  }
}

.attribute-head {
  text-align: center;
  padding-bottom: 20px;

  h4 {
    color: $color-white;
    font-family: "Antenna", "Helvetica", sans-serif;
    font-weight: 300;
  }
}

.mobile-compare-item {
  border-bottom: solid 1px $color-white;
  margin-bottom: 20px;
  padding-bottom: 40px;

  .compare-item-title {
    font-size: 12px;
    font-size: rem-calc(12px);
    line-height: 1.2;
  }

  .compare-item-boat {
    width: 50%;
  }

  .mobile-compare-value {
    width: 50%;
    text-align: center;
  }
}

@media all and (max-width: 991px) {
  .modal-compare .modal-container {
    padding: 0;
    width: auto;
  }
}
