
.boat-filter-block {
  font-size: 12px;
  font-size: rem-calc(12px);

  .button--secondary {
    font-family: "Antenna", "Helvetica", sans-serif;
    font-weight: normal;
  }

  .boat-filter-mobile {
    text-align: center;
  }

  .active-boats {
    border-bottom: solid 1px $color-gray;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.modal-mobile-filter {
  color: $color-white;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;

  h3 {
    color: $color-white;
    font-family: "Antenna", "Helvetica", sans-serif;
    font-weight: 300;
    margin-bottom: 22px;
  }

  #passengers,
  #boatlength {
    h3 {
      margin-bottom: 33px;
    }

    .filter-options {
      padding: 0 20px;
    }
  }

  .modal-container.container {
    background: $color-gray-dark;
    max-width: none;
    padding: 0 0 10px;
    width: 100%;
  }

  .filter-options li {
    margin-bottom: 22px;
  }
}

.boat-matches {
  padding: 20px 0;
  text-align: center;
}

.boat-matches-top {
  @extend .boat-matches;

  border-bottom: solid 1px $color-white;
  margin-bottom: 20px;
}

.boat-matches-bottom {
  @extend .boat-matches;

  margin-top: 20px;
}

.mobile-filters-header {
  border-bottom: solid 1px $color-white;
  padding: 20px 0;

  & > div {
    align-items: center;
  }

  .icon {
    color: $color-white;
  }
}

.mobile-filters-footer {
  border-top: solid 1px $color-white;
  margin-bottom: 20px;
  text-align: center;
}

.mobile-filter-option {
  margin: 30px 0;
}
