.noUi-horizontal {
  height: 20px;

  .noUi-handle {
    border: 1px solid $color-gray;
    border-radius: 50%;
    height: 20px;
    outline: 0;
    right: -10px;
    top: 0;
    width: 20px;

    &::before {
      content: " ";
      background-color: $color-aqua;
      border-radius: 50%;
      height: 10px;
      left: 4px;
      position: relative;
      top: 4px;
      width: 10px;
    }

    &::after {
      display: none;
    }
  }

  .noUi-tooltip {
    background-color: $color-aqua;
    bottom: 150%;
    border: none;
    color: $color-white;
    font-family: $font-bold;
    padding: 2px 15px 0;

    &::after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $color-aqua;
      bottom: -4px;
      content: " ";
      height: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 0;
    }
  }
}

.noUi-connect {
  background-color: $color-aqua;
}

.noUi-target {
  border-radius: 10px;
  border: none;
  box-shadow: none;

  .noUi-ranges {
    font-family: $font-regular;
    margin: 5px 0 0 -20px;
    width: calc(100% + 40px);

    & > span {
      position: absolute;
    }

    div {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -12px;
}
