

.flex-container > .views-element-container {
  width: 100%;
}

.right-rail {
  .col-4-sm {
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 20px;
    }
  }
}

@include media-breakpoint-up(md) {
  .view-boatfinder-views.view-display-id-block_2,
  .view-display-id-boat_grid_by_activity {
    &::after {
      content: ' ';
      display: block;
      width: susy-span(4 of 12);
    }
  }
}
