<div class="megamenu__drawer">
    <div class=" flex-container">
        <div class="col-6-md">
            <div class="flex-container">
                <div class="col-4-md">
                    <img src="/themes/custom/nmma/images/megamenu/go_boating_today.png" alt="">
                </div>
                <div class="col-8-md">
                    <h5 class="small"><a href="{{ path('entity.node.canonical', {'node': 61}) }}">Go Boating Today</a></h5>
                    <p>No boat? No problem. Enter your city or zip code to search for boat rentals and charters near
                        you.</p>
                    <br/>
                    {{ inlineform }}
                </div>
            </div>
        </div>
        <div class="col-3-md">
            <strong>Life on the Water</strong>
            {{ drupal_menu('life-on-the-water') }}
        </div>
        <div class="col-3-md">
            <strong>Activities & Education</strong>
            {{ drupal_menu('activities-and-education') }}
        </div>
    </div>
</div>

