<div class="megamenu__drawer">
    <div class=" flex-container">
        <div class="col-6-md">
            {{ drupal_entity('block_content', '1') }}
        </div>
        <div class="col-6-md">
            {{ drupal_entity('block_content', '6') }}
        </div>
    </div>
</div>