.section-vertical-padding-top {
  padding-top: $dimension-section-vertical-padding;
}

.section-vertical-padding-bottom {
  padding-bottom: $dimension-section-vertical-padding;
}

.section-vertical-padding-both {
  @extend .section-vertical-padding-top;
  @extend .section-vertical-padding-bottom;
}

.brick--type--section {
  max-width: $site-maxout-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &.container-type--contract {
    padding-right: $dimension-section-horizontal-padding;
    padding-left: $dimension-section-horizontal-padding;
  }
}

.brick--background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & > img {
    position: relative;
    width: 100%;
    height: 100%;
    @include object-fit-cover;
  }
}

.brick--type--card {

  // Aspect ratio trick for image
  .field--name-field-media {
    width: 100%;

    & > article {
      width: 100%;
      padding-top: 100% / $brick-card-aspect-ratio;
      position: relative;
    }

    & > article > .field--name-image,
    & > article > .field--name-image > img {
      height: 100%;
      width: 100%;
    }

    & > article > .field--name-image > img {
      position: absolute;
      top: 0;
      left: 0;
      @include object-fit-cover;
    }

  }

  .card-header {
    display: block; //Sometimes this is an <a> element
    position: relative;

    & .icon-markup {
      color: $brick-card-icon-color;
      font-size: $brick-card-icon-size;
      line-height: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      &::before {
        color: inherit; //override a nasty global color setting of i::before
      }
    }
  }

  .card-body {
    //todo: this may need a class to control it, as some cards are left-aligned (e.g. on hotels page)
    text-align: center;
  }

  // Padding on body for cards with backgrounds (we assume these need to stand out somewhat)
  &.has-background-color .card-body {
    padding: $dimension-card-padding;
  }

  // Apply button style to link
  .field--name-field-link > a {
    @include button--secondary;
  }
}

.brick--type--card-cta {
  & .card-cta-header {
    @include slab-inverted;
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100% / $brick-card-cta-aspect-ratio;

    & > img {
      @include object-fit-cover;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }

    // gradient effect
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75%;
      background-image: linear-gradient(to top, rgba($city-color-primary, 1) 0%, rgba($city-color-primary, 0) 100%);
      z-index: 2;
      clip-path: polygon(0% 100%, 0% 84%, 100% 0, 100% 100%, 0% 100%);
    }

    & > .headline {
      box-sizing: border-box;
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: $brick-card-cta-header-padding;
      text-align: center;
      z-index: 3;
    }
  }

  & .card-cta-body {
    @include slab-white;
    text-align: center;
    padding: $dimension-card-padding;
  }

  & .field--name-field-link a {
    @include button--secondary;
  }
}
