.brick--type--section {
  max-width: $site-maxout-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.brick--background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & > img {
    position: relative;
    width: 100%;
    height: 100%;
    @include object-fit-cover;
  }
}

.brick--type--card {
  background-color: $colorname-white;

  // Aspect ratio trick for image
  .field--name-field-media {
    width: 100%;

    & > article {
      width: 100%;
      padding-top: 100% / $brick-card-aspect-ratio;
      position: relative;
    }

    & > article > .field--name-image,
    & > article > .field--name-image > img {
      height: 100%;
      width: 100%;
    }

    & > article > .field--name-image > img {
      position: absolute;
      top: 0;
      left: 0;
      @include object-fit-cover;
    }

  }

  // Padding on body
  .card-body {
    padding: $dimension-card-padding;
  }

  // Apply button style to link
  .field--name-field-link > a {
    @include button--secondary;
  }
}
