// jQuery UI Accordion Overrides

.ui-accordion {
  .ui-accordion-header,
  .ui-accordion-content {
    padding: 0;
    margin-bottom: 1rem;
  }

  .ui-accordion-header {
    border: 0;
    outline: 0;
    line-height: 1.5;
  }

  .ui-accordion-content {
    height: auto !important;
  }

  ul {
    list-style: disc;
  }
}

.ui-widget-content {
  border: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: transparent;
  color: $colorname-gray-dark;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  background: transparent;
}

.grid .content {
  padding: 0 !important;
}

// New stuff
.ui-accordion .views-row > .views-row {
  border-bottom: 1px solid $colorname-gray-silver-sand-alt;
  text-align: left;
  padding-top: 1rem;

  &:last-child {
    border: 0;
  }
}

.ui-accordion-header {
  .field-content {
    color: $colorname-black;
    font-size: rem-calc(16px);
    font-weight: bold;
  }
}

.ui-accordion-header-icon {
  display: none;
}

.ui-accordion-header-collapsed,
.ui-accordion-header-active {
  .field-content::after {
    color: $colorname-picton-blue;
    font-weight: bold;
    font-size: rem-calc(26px);
    margin-left: rem-calc(3px);
    vertical-align: -3px;
  }
}

.ui-accordion-header-collapsed {
  .field-content::after {
    content: "\0002B";
  }
}

.ui-accordion-header-active {
  .field-content::after {
    content: "\02212";
  }
}
