// Styles for breadcrumbs.

#main > section#block-breadcrumbs {
  margin-top: 0.1rem;
  margin-bottom: 0;

  ol {
    padding: 0.25rem 0 0;

    li {
      display: inline;
      font-size: $font-size-body-copy-xsmall;
      font-family: $fontname-proxima-bold;
      color: $colorname-med-gray;

      &:not(:last-child)::after {
        content: ">";
      }
    }
  }
}
