@mixin button {
  font-weight: $font-weight-bold;
  @include font-size($font-size-button);
  @include font-aliasing();

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: $dimension-button-height;
  min-width: $dimension-button-width;
  // max-width: 300px;
  padding: 0 2.25em;

  background: $color-button-primary-fill;
  border: 2px solid $color-button-primary-border;
  box-sizing: border-box;
  color: $color-button-primary-text;

  outline: 0;

  line-height: 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  // Header "buy tickets" button is the model for this.
  &.small {
    height: $dimension-button-height-small;
    min-width: 150px;
    font-size: $font-size-button-small;
    line-height: $dimension-button-height-small;
  }

  &.xsmall {
    height: $dimension-button-height-xsmall;
    min-width: 120px;
    font-size: $font-size-button-xsmall;
    line-height: $dimension-button-height-xsmall;
  }

  &.fixed {
    width: $dimension-button-width;
  }

  &:hover,
  &:active {
    background: $color-button-primary-text;
    border-color: $color-button-primary-fill;
    color: $color-button-primary-fill;
    text-decoration: none;
  }

  &:disabled,
  &[disabled],
  &.disabled {
    background: $color-button-disabled-fill;
    border-color: $color-button-disabled-border;
    color: $color-button-disabled-text;
    cursor: default;

    &:hover {
      background: $color-button-disabled-fill;
      color: $color-button-disabled-text;
    }
  }
}

@mixin button--small {
  @include button;
  // Copied from button.small
  height: $dimension-button-height-small;
  min-width: 150px;
  font-size: $font-size-button-small;
  line-height: $dimension-button-height-small;

  // &:hover,
  // &:active {
  //   background: $color-button-primary-text;
  //   border-color: $color-button-primary-fill;
  //   color: $color-button-primary-fill;
  // }
}

@mixin button--secondary {
  @include button;

  background: $color-button-secondary-fill;
  border-color: $color-button-secondary-border;
  color: $color-button-secondary-text;
  font-weight: $font-weight-semibold;

  &:hover,
  &:active {
    background: $colorname-picton-blue;
    border-color: transparent;
    color: $colorname-white;
  }
}

@mixin button--clear {
  @include button;

  background: $color-button-clear-fill;
  border-color: $color-button-clear-border;
  color: $color-button-clear-text;

  &:hover,
  &:active {
    background: $colorname-picton-blue;
    border-color: transparent;
    color: $colorname-white;
  }
}

@mixin button--hero {
  @include button;

  background: $color-button-hero-fill;
  border-color: $color-button-hero-border;
  color: $color-button-hero-text;

  &:hover {
    background: $color-button-hero-border;
    border-color: $color-button-hero-border;
    color: $colorname-aqua;
  }
}

.button,
a.button {
  @include button;
}

.button--cta,
a.button--cta {
  @include button;
}

.button--cta-alt,
a.button--cta-alt {
  @include button;
  background-color: $colorname-picton-blue;
  color: $colorname-white;

  &:hover,
  &:focus {
    border-color: $colorname-picton-blue;
    color: $colorname-picton-blue;
  }
}

.button--secondary,
a.button--secondary {
  @include button--secondary;
}

.button--clear,
a.button--clear {
  @include button--clear;
}

.button--hero,
a.button--hero {
  @include button--hero;
}
