// Note: primarily used in the mega menu?
.column-item {
  .title {
    color: $color-headings;
    font-family: $font-headings;
    font-weight: $font-weight-bold;
    padding: 0 0 0.3em;
    margin: 0;
    font-size: 140%;
    line-height: 145%;
  }
}

.two-columns .column-item {
  max-width: 540px;

  .brick--type--card {
    height: 100%;
  }
}

// This is not a good way to handle this but it's expedient.
.alias--hotels .block-system-main-block {
  .column-item {
    margin-bottom: 2rem;

    img {
      width: 400px;
    }

    .image-left {
      img {
        float: left;
        margin-right: 2em;
      }
    }

    .image-right {
      img {
        float: right;
        margin-left: 2em;
      }
    }
  }
}
