.region-footer {
  margin-top: 40px;
  .field--type-bricks {
    width: 100%;
    .four-columns {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 35px 0;
      // Footer content.
      .nmma-layout {
        &.four-column {
          flex-wrap: inherit;
          @include media-breakpoint-down(lg) {
            column-count: 2;
            display: block;
            .column-item {
              width: 100%;
            }
          }
          @include media-breakpoint-down(sm) {
            flex-direction: column;
            display: flex;
          }
          .column-item {
            &:first-child {
              img {
                width: 242px;
              }
            }

            @include media-breakpoint-up(xl) {
              display: flex;
              &:first-child {
                min-width: 380px;
              }
              &:nth-child(3) {
                min-width: 220px;
              }
              &:nth-child(2) {
                min-width: 180px;
              }
              &:last-child {
                min-width: 380px;
                .brick {
                  justify-content: flex-end;
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
  }

  ul {
    @extend .no-ul-list;
  }
}

.region-footer {
  .sponsors-block {
    margin: 70px 0 60px;
    text-align: center;
    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    .featured-text,
    .grid-text {
      width: 100%;
      float: left;
      font-size: 20px;
      font-family: $proxima-light;
      color: $colorname-black;
    }
    .featured-logo {
      margin: 25px 0 65px;
    }
    a.sponsor-link {
      display: inline-block;
    }
    img.sponsor-logo {
      display: inline-block;
      margin: 25px 15px 0;
    }
  }

  .brick {
    width: 100%;
    ul {
      li,
      label {
        color: $colorname-white;
        font-size: 14px;
        display: block;
        line-height: 1.2;
        margin: 0;
        font-family: $proxima-light;
        // TODO: :first-child here replaces the .first class. If we ever
        // get a chance to do some housekeeping we should remove it (and
        // the .proxi-bold class it's paired with) from the template.
        &:first-child {
          font-family: $proxima-bold;
        }
      }
      margin-top: 30px;
    }
    input[type='checkbox'] {
      float: left;
      margin: 1px 5px 1px 0px;
    }
    a {
      text-decoration: underline;
    }
  }

  .newsletter-form {
    font-size: $font-size-body-copy-small;
    margin: 20px 0;
    .submit-input-field--clear {
      position: relative;
      display: flex;
      width: 100%;
      max-width: 310px;
      .form-item-newsletteremail {
        input {
          margin: 0;
          width: 100%;
          max-width: 276px;
          font-size: $font-size-button-xsmall;
          font-style: italic;
          line-height: 1.2;
          height: 36px;
          background-color: #fff;
          border: 1px solid $colorname-lighter-gray;
          border-radius: 0px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          color: #303b41;
          padding: 0 10px;
        }
      }
      .form-submit {
        height: 36px;
        width: 36px;
        // Min-width workaround for button class we can't remove.
        min-width: initial;
        background: transparent;
        border: none;
        z-index: 99;
        border-radius: 0;
        &:not([disabled]):hover {
          // background: $colorname-picton-blue;
          // color: $colorname-white;
          // & ~ i::before {
          //   color: $colorname-white;
          // }
        }

        &[disabled] {
          &:hover {
            & ~ i::before {
              color: #a3a9ac;
            }
          }
        }
      }
      i.icon {
        position: absolute;
        // width: 36px;
        // height: 36px;
        // right: 0;
        // background: $colorname-picton-blue;
        // transition: all .3s ease-in-out;
        // line-height: 36px;
        // font-size: $font-size-body-copy-xsmall;
        // font-style: normal;

        text-align: center;
        &::before {
          vertical-align: -4px;
        }
      }
    }
  }

  .footer-social {
    ul {
      margin-top: 0;
      display: inline-flex;
      li {
        display: block;
        & + li {
          margin-left: 30px;
        }
        a {
          display: block;
          color: transparent;
          transition: all .3s ease-in-out;
          &:hover,
          &:focus {
            i::after {
              background: $colorname-picton-blue;
            }
          }
          i {
            font-style: normal;
            display: block;
            &:after {
              transition: all .3s ease-in-out;
              background: #78797a;
              color: $colorname-white;
              width: 38px;
              height: 38px;
              content: '';
              display: block;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 26px;
            }
            &.icon-db-social-facebook {
              &:after {
                content: "\f09a";
                font-family: $font-awesome;
              }
            }
            &.icon-db-social-twitter {
              &:after {
                content: '\f099';
                font-family: $font-awesome;
              }
            }
            &.icon-db-social-instagram {
              &:after {
                content: '\f16d';
                font-family: $font-awesome;
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    margin-top: 45px;
    color: $colorname-white;
    font-family: $proxima-light;
    font-size: 14px;
    a {
      text-decoration: underline;
    }
  }
}
