// Provides the 2-weight headline effect

@mixin effect-contrast-headline {
  font-weight: $effect-contrast-headline-base-font-weight;

  & b,
  & i,
  & strong,
  & em {
    font-style: normal;
    font-weight: $effect-contrast-headline-emphasis-font-weight;
  }
}

.section-header {
  text-align: center;
  margin-bottom: 1.875em;

  h2 {
    @include effect-contrast-headline();

    font-size: 30px;
    color: $colorname-black;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0;
    padding: 0;
  }

  .subheading {
    font-size: 16px;
    font-weight: $font-weight-normal;
    color: $colorname-black;
    line-height: 1.2;
    margin: 1.25em 0 0 0;
  }
}
