// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header

header.header {
  @include font-aliasing();
  align-items: center;
  background: $colorname-white;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid $colorname-lighter-gray;

  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
  }

  .header-wrap {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .header__right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
  }

  .region-header {
    width: 100%;
  }

  .secondary-nav {
    ul {
      display: flex;
      list-style: none;
      margin-top: 0;
      margin-bottom: 10px;
      li {
        & + li {
          margin-left: 15px;
        }
      }
    }

    a {
      font-weight: $font-weight-semibold;
      font-size: 13px;
      line-height: normal;
      text-transform: uppercase;
      &::after {
        content: '\f054';
        font-family: $fontname-fontawesome;
        color: $city-color-secondary;
        margin-left: 5px;
        vertical-align: middle;
      }
      &:hover {
        text-decoration: none;
      }
    }

    @include media-breakpoint-down(sm) {
      ul {
        display: block;
        padding: 0;
        text-align: right;

        li {
          display: block;

          & + li {
            margin-left: 0;
          }
        }
      }
    }
  }

  .logo {
    align-items: center;
    display: flex;
    width: 242px;
    & a {
      display: block;
      width: 100%;
      min-width: 240px;
      img.logo-color {
        display: block;
      }
      img.logo-white {
        display: none;
      }
    }
  }
}
