.view-special-offers .view-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;

  * {
    box-sizing: border-box;
  }

  .views-row {
    flex-basis: 100%;
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      flex-basis: 50%;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 25%;
    }
  }
}

.node--type-special-offer.node--view-mode-teaser {
  padding: 20px;
  margin: 0 5px;
  background-color: $color-slab-light-gray;
  height: 100%;

  &.special-offer-deal {
    border: 2px dashed $city-color-secondary;
  }

  &.special-offer-job {
    .special-offer-title {
      order: 1;
    }

    .special-offer-booth {
      order: 2;
    }

    .special-offer-logo {
      order: 3;
    }

    .special-offer-body {
      order: 4;
    }
  }


  & > .node__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .special-offer-logo img {
    max-width: 100%;
  }

  .special-offer-title {
    @extend h4;
    text-transform: uppercase;
  }

  .special-offer-booth {
    font-size: 18px;

    &:after {
      content: '';
      display: block;
      margin: 20px auto;
      height: 1px;
      width: 80px;
      background-color: $city-color-primary;
    }
  }
}
