$color-blue-dark: #32549f;

@mixin view-item {
  background: #eeeeee;
  font-size: $font-size-body-copy-small;
  line-height: 1.3;
  margin-bottom: 1.25rem;
  padding: 1rem;
  text-align: center;
  border: 4px dashed $color-secondary;
}

.view-sponsors {
  .views-row {
    margin-bottom: 3rem;
  }
}

.alias--boats-by-brand,
.alias--exhibitors {
  .view-exhibitors {
    th {
      padding: 1em;
    }

    td {
      padding: 0.75em 1em;
    }
  }
}

.alias--exhibitors {
  .view-exhibitors {
    td {
      @media screen and (max-width: $screen-sm) {
        display: block;
      }
    }

    .address {
      margin: 0;

      .country {
        display: none;
      }
    }
  }
}

.exhibitors-directory {
  background: $color-gray-light;
  border: 1px solid $color-gray-light;
  border-bottom: 0;
  font-family: $fontname-proxima-bold;
  padding: 1em;
  text-align: center;

  a,
  .all-exhibitors {
    padding: 0.5em;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: $screen-md) {
      background: $colorname-white;
      display: inline-block;
      height: 1.75em;
      width: 1.75em;
      line-height: 1.75em;
      margin: 0.25em;
    }
  }
}
