<section class="articles-header flex-container">
  <div class="col-12-xs col-12-sm col-6-md">
    <h2 class="small">{{ title }}</h2>
  </div>
  <div class="col-12-xs col-12-sm col-6-md">
    {{ search_form }}
  </div>
</section>
{{ content }}