{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if rows %}
  {% for row in rows %}
  <div class="js-boat-brand-drawer-content boat-brand__drawer-content" data-index="{{ loop.index }}">
    <h3 class="pad">{{ row['#title'] }}</h3>
    <a href="#" class="close"><i class="icon icon-db-close"></i></a>
    <div class="flex-container">
      {{ row['#rows'] }}
    </div>
  </div>
  {% endfor %}
{% elseif empty %}
  <div class="view-empty">
    {{ empty }}
  </div>
{% endif %}
