{# Header#}
{% include componentroot ~ '/4-organisms/header/header.twig' with {'no_hero': 'true'} %}

{# Main Page Content #}
<div class="clearfix" id="main">
  <section class="page-content article">
    <div class="row">
			<div class="main-content col-12-xs col-12-sm col-8-md">
				<h1>New Year, New Boat? Insider Tips for Shopping a Boat Show</h1>
				<div class="slugline">JAN 2018 | KELLY KAYLOR</div>
				{% include componentroot ~ '/4-organisms/articles_view/article_share.twig' %}
				<div class="body">
					<p>A New Year means new resolutions. Maybe your resolution is looking to spend more quality time with family and friends? Learn something new? Spend more time outdoors or being active? This is the year to follow through on that resolution and discover boating—an activity that can accomplish all of the above.</p>
					<p>Ring in 2015 by shopping a local boat show to learn more about what, when, where and how to fish, sail, wakesurf, cruise and more. Throughout the winter and spring, hundreds of boat shows are held around the country and they provide a taste of the boating lifestyle, deals on boats for every budget, and an opportunity to compare boat brands side-by-side.</p>
					<p><a href="#">Find a boat show near you</a> and use these insider tips to get the mose out of your show experience:</p>
				</div>
				<h4>Find your Virtual Dreamboat</h4>
				<p>Before visiting a boat show, you'll want to know which boats to shop for. Start your search online with the Boat Selector to identify which boat types fit you lifestyle, interests, and budget. Plug in your preferences for on-water activities, number of passengers, boat length, price range, and propulsion, to narrow down boat options before leaving home.</p>
        {% include componentroot ~ '/3-molecules/captioned_image.twig' %}
        <h4>Make the Most of Show Pricing</h4>
        <p>It helps to know what fits in your budget before shopping a show - try our boat loan calculator to estimate monthly payments, Since one of the best times to buy a boat is at a boat show, exhibitors generally offer special show pricing and other incentives during the winter season. </p>
        <h4>Learn the Ropes</h4>
        <p>Look for shows offering interactive workshops and seminars, including know-tying, DIY boat maintenance, and docking (at in-water shows). It's not only fun to learn new skills, but smart to take advantage of the onsite training boat shows offer usually at little to no cost.</p>
        <h4>Bring the Whole Family</h4>
        <p>Boat shows often offer free activities to keep the kids entertained, including fishing, paddlesports, sailing simulators and more. Plus, it helps to make boat buying a family decision, keeping in mind which activities will appeal most to the kids and the adults.</p>
        <h4>Look for the Seal of Approval</h4>
        <p>An "NMMA Certified" seal mans a boat has me strict industry standards for safety and construction and federal regulations, ensuring the best quality to the buyer. Look for the NMMA Certified sticker neat the helm and check this <a>full list of certified boat manufactures.</a></p>
        <p class="article-end-line">Find more boat show season shopping tips <a href="#">here</a> &amp; happy show-going!</p>
        <h5 class="article-secondary-links">Category:<a> Tips and Tricks</a></h5>
        <h5 class="article-secondary-links">Tags: <a> Boat Show, Shopping, Boat Buying</a></h5>
        <div class="image-footer">
          <a href="#"><img src="../templates/styleguide/builder/assets/article-footer-image.jpg" alt=""></a>
          <div class="image-footer--text">
            <h5>Owning &amp; Operating Guide ></h5>
            <p>Boat ownership comes with costs and responsibilities you need to be familiar with. Know what to plan for -read out Owning &amp; Operating Guide.</p>
          </div>
        </div>


			</div>
			<div class="sidebar col-12-xs col-12-sm col-4-md">
				<h2>Related Articles</h2>
				<div class="grid-item">
					<div class="grid-item--content">
					  <div class="curve-corner">
               <a href=""><img src="../templates/styleguide/builder/assets/grid-image.png" alt=""></a>
            </div>
						<div class="title"><a href="">New Year, New Boat? Tips for shopping a boat show</a></div>
						<div class="slugline">Feb 2018 | Gus Author</div>
						<div class="body">
							<p>A New Year means new resolutions. Maybe your resolution is looking to spend more quality time with family and friends?</p>
						</div>
					</div>
				</div>
				<div class="grid-item">
					<div class="grid-item--content">
					  <div class="curve-corner">
              <a href=""><img src="../templates/styleguide/builder/assets/grid-image.png" alt=""></a>
            </div>
						<div class="title"><a href="">New Year, New Boat? Tips for shopping a boat show</a></div>
						<div class="slugline">Feb 2018 | Gus Author</div>
						<div class="body">
							<p>A New Year means new resolutions. Maybe your resolution is looking to spend more quality time with family and friends?</p>
						</div>
					</div>
				</div>
				{% include componentroot ~ '/2-atoms/text/article_quote.twig' with {'quote_text': 'One of the best times to buy a boat is at a boat show - exhibitors will offer special show pricing and other incentives during the winter season.'} %}
			</div>
    </div>
  </section>
</div>

{# Footer #}
{% include componentroot ~ '/4-organisms/footer/footer.twig'  %}
