{% set classes = [
'text-align-center'
] %}

<section {{ attributes.addClass(classes) }}>
  {{ context_links }}
  <a href="{{ entity.field_download_item.0 }}" class="button--secondary">
   {{ entity.field_download_button_text }}
  </a>
</section>
