{% set classes = [
  'text-align-center'
] %}

<section {{ attributes.addClass(classes) }}>
  {{ context_links }}
  <a href="{{ entity.field_ad_link|render|striptags|trim }}">
    {% if image_path is not empty %}
      <img src={{ image_path }} class="img-responsive" />
    {% endif %}
  </a>
</section>
