
<div class="flex-container">
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
  <div class="col-6-xs col-6-sm col-2-md"><img src="/themes/custom/nmma/images/brand-logo-chaparral.png" alt=""></div>
</div>