//Reset ul styles when they are in a nav element

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
    }
  }
}
