

@include media-breakpoint-only(sm) {
  .brick--type--text {
    .embedded-entity {
      &.align-left,
      &.align-right {
        float: none;
        margin: 0 auto 15px;
      }
    }
  }
}

.brick--type--text {
  h1 {
    font-size: 38px;
    font-size: 2.375rem;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .embedded-entity {
    margin-bottom: 15px;

    &.align-left,
    &.align-right {
      margin: 0 auto 15px;
    }
  }

  h2,
  h3 {
    margin: 20px 0;
  }

  ul,
  ol {
    list-style: disc;
    margin-bottom: 20px;
    padding-left: 30px;
  }
}


@include media-breakpoint-up(sm) {
  .brick--type--text {
    .embedded-entity {
      &.align-right {
        margin-left: 15px;
      }

      &.align-left {
        margin-right: 15px;
      }
    }
  }
}
