

.engine-with-tooltip {
  position: relative;
}

.engine__tooltip {
  background: $color-aqua;
  color: $color-white;
  display: none;
  left: 115%;
  padding: 10px;
  position: absolute;
  top: -10px;
  width: 300px;
  z-index: 1;

  p {
    margin: 0;
  }

  &.show {
    display: block;
  }

  &::after {
    content: ' ';
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $color-aqua;
    left: -10px;
    position: absolute;
    top: 10px;
    width: 0;
  }
}

@media all and (max-width: 565px) {
  .engine__tooltip {
    display: none !important;
  }
}
