.grid .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

.grid-item {
  box-sizing: border-box;
  margin: 0 0 20px;
  position: relative;
  width: 100%;

  .title {
    font-family: "Antenna-Bold", "Helvetica", sans-serif;
    font-size: 16px;
    font-size: rem-calc(16px);
    line-height: 1.375;
    margin-top: rem-calc(20px);
    margin-bottom: rem-calc(15px);

    a {
      color: $color-aqua;
    }
  }

  .two-up--title {
    a {
      color: $color-aqua;
      font-size: 18px;
      font-size: rem-calc(18px);
      line-height: 1.375;
    }
  }

  .two-up--sub-nav.no-hero.no_subNav {
    display: none;
  }

  .slugline {
    font-size: 10px;
    font-size: rem-calc(10px);
    text-transform: uppercase;
    margin-bottom: rem-calc(18px);
  }
}

.grid-item--article {
  @extend .grid-item;
}

.grid-item--link {
  @extend .grid-item;

  a {
    display: block;
  }
}

.grid-item--content {
  height: 100%;
  margin: 0 auto;

  a {
    height: 100%;
  }
}

.grid-footer {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

//
// Responsive breakpoints
//

// Mobile: > 576px

@include media-breakpoint-only(sm) {
  .col-4-sm {
    .grid-item,
    .grid-item--link {
      .image {
        min-height: 240px;
      }
    }

    .grid-item--article {
      .image {
        min-height: 200px;
      }
    }
  }

  .col-6-sm {
    .grid-item,
    .grid-item--link {
      .image {
        min-height: 150px;
      }
    }
  }
}

// Tablet: > 768px

@include media-breakpoint-up(md) {
  .grid-item,
  .grid-item--link {
    .image {
      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .col-4-md {
    .grid-item,
    .grid-item--link {
      .image {
        min-height: 240px;
      }
    }

    .grid-item--article {
      .image {
        min-height: 140px;
      }
    }
  }
}

// Desktop: > 992px

@include media-breakpoint-up(lg) {
  .col-4-md,
  .col-4-lg {
    .grid-item,
    .grid-item--link {
      .image {
        min-height: 240px;
      }
    }

    .grid-item--article {
      .image {
        min-height: 240px;
      }
    }
  }
}
