.play-block {
  cursor: pointer;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .image,
  .image > div {
    background-size: cover;
    min-height: 85px;
    height: 100%;
    width: 100%;
  }

  .link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    span {
      color: $color-aqua;
      font-family: $font-bold;
      margin-top: 10px;

      &.no-pad {
        margin-top: 0;
      }
    }
  }

  .play-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;

    .icon::before {
      color: $color-white;
      background-color: rgba(0, 0, 0, 0.25);
      border: 1px solid $color-white;
      border-radius: 50%;
      box-sizing: border-box;
      font-size: 1em;
      height: 40px;
      padding: 12px 0 0 3px;
      transition: all 0.2s ease-in;
      width: 40px;
    }
  }

  &:hover {
    .play-container .icon::before {
      color: $color-aqua;
      border-color: $color-aqua;
      background-color: $color-white;
    }
  }
}

.video-page {
  .play-block {
    .video-embed-field-lazy-play {
      display: none;
    }
    
    .image {
      position: relative;
    }
  }
}

.stack-item__image {
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
