/*
// Primary Tabs
//
// Simple tabs styling.
//
// Markup: tabs.twig
//
// Style guide: molecule.tabs
*/
.block-tabs {
  margin: 1.5em 0;

  ul {
    display: block;
    padding-left: 0;

    li {
      display: inline-block;

      a {
        margin: 0;
        padding: 0.4em;
        text-decoration: none;
      }
    }
  }
}

//Custom jqueryUI tabs styles
.ui-tabs {
  &.ui-widget-content {
    border: none;
  }

  .ui-widget-header {
    background: none;
    border: none;
  }

  .ui-tabs-nav {
    padding: 0;
  }

  .ui-tab {
    border: solid 1px $color-aqua;

    a {
      background: $color-aqua;
      color: $color-white;
    }

    &.ui-tabs-active {
      border: solid 1px $color-blue;
      border-bottom: none;

      a {
        background: $color-blue;
      }
    }
  }

  .ui-tabs-panel {
    border: solid 1px $color-blue;
  }
}
