<figure>
  <div class="curve-corner">
  		<img src="../templates/styleguide/builder/assets/article-page-image.png" alt="">
  </div>
  <figcaption>Discover your perfect boat with our <a>Boat Finder</a></figcaption>
  <div class="small-divider"></div>
</figure>
