<div class="col-12-xs">
  <div class="grid-item--article">
    <div class="grid-item--content">
      {% if entity.field_3_col_card_image is not empty %}
        <div class="image curve-corner" style="background-image: url({{ path }})">
        </div>
      {% endif %}
      <div class="title">{{ entity.field_3_col_card_title }}</div>
      <div class="body">
        {{ entity.field_3_col_card_text }}
      </div>
    </div>
  </div>
</div>
