<section {{ attributes }}>
  {% if image_bkgrnd is not empty %}
    <div class="image-cover" style="background-image: url({{ image_bkgrnd }})"></div>
  {% else %}
    {{ entity.field_brick_media }}
  {% endif %}
</section>