{% set componentroot = '../../' %}
<div class="col-12-xs col-12-sm col-6-md">
	<div class="grid-item">
	  <div class="curve-corner">
      <img src="../templates/styleguide/builder/assets/grid-image.png" alt="">
    </div>
    <h3 class="two-up--title"><a href="">Shopping for a Boat</a></h3>
    <p>Left Descriptive Text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet tempus turpis. Nulla facilisi. Sed vel feugiat augue. Maecenas vel Nulla facilisi. Sed vel feugiat augue.</p>
    <div class="two-up--sub-nav {% if no_subNav == 'true' %}no_subNav{% endif %}">
      <h4 class="sub-nav--title">More Information for Boat Shoppers</h4>
        <ul class="sub-nav--list">
          <li><a href="">Boat Brand &amp; Manufactures</a></li>
          <li><a href="">Certified</a></li>
          <li><a href="">Engines</a></li>
          <li><a href="">Glossary</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
    </div>
	</div>
</div>
<div class="col-12-xs col-12-sm col-6-md">
	<div class="grid-item">
	  <div class="curve-corner">
      <img src="../templates/styleguide/builder/assets/grid-image.png" alt="">
    </div>
    <h3 class="two-up--title"><a href="">Boat Loan Calculator</a></h3>
    <p>Right Descriptive Text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet tempus turpis. Nulla facilisi. Sed vel feugiat augue. Maecenas vel Nulla facilisi. Sed vel feugiat augue.</p>
    <div class="two-up--sub-nav {% if no_subNav == 'true' %}no_subNav{% endif %}">
      <h4 class="sub-nav--title">Boat Loan Calculator</h4>
        <ul class="sub-nav--list">
          <li><a href="">Cost of Boat Ownership</a></li>
          <li><a href="">Financing Your Boat</a></li>
          <li><a href="">New or Pre Owned</a></li>
        </ul>
    </div>
	</div>
</div>
