<div class="content">
  <div class="col-12-xs col-12-sm col-4-md">
    <div class="grid-item">
      <div class="grid-item--content">
        <a href=""><img src="../templates/styleguide/builder/assets/grid-image.png" alt=""></a>
        <div class="title"><a href="">New Year, New Boat? Tips for shopping a boat show</a></div>
        <div class="slugline">Feb 2018 | Gus Author</div>
        <div class="body">
          <p>A New Year means new resolutions. Maybe your resolution is looking to spend more quality time with family and friends?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12-xs col-12-sm col-4-md">
    <div class="grid-item">
      <div class="grid-item--content">
        <a href=""><img src="../templates/styleguide/builder/assets/grid-image.png" alt=""></a>
        <div class="title"><a href="">New Year, New Boat? Tips for shopping a boat show</a></div>
        <div class="slugline">Feb 2018 | Gus Author</div>
        <div class="body">
          <p>A New Year means new resolutions. Maybe your resolution is looking to spend more quality time with family and friends?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12-xs col-12-sm col-4-md">
    <div class="grid-item">
      <div class="grid-item--content">
        <a href=""><img src="../templates/styleguide/builder/assets/grid-image.png" alt=""></a>
        <div class="title"><a href="">New Year, New Boat? Tips for shopping a boat show</a></div>
        <div class="slugline">Feb 2018 | Gus Author</div>
        <div class="body">
          <p>A New Year means new resolutions. Maybe your resolution is looking to spend more quality time with family and friends?</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-footer">
  <a href="" class="button--secondary">Explore All Stories</a>
</div>