{# Header#}
{% include componentroot ~ '/4-organisms/header/header.twig' with {'no_hero': 'true'} %}

{# Main Page Content #}
<div class="clearfix no-hero" id="main">
  <section class="page-content">
    <div class="flex-container">
      <div class="col-12-xs col-12-sm col-8-md">
        <div class="content-block row">
          <div class="col-12-xs">
            <h2 class="small">How to buy</h2>
            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feugiat.</p>
          </div>
        </div>

        <div class="content-block row">
          <div class="col-12-xs">
            <h5 class="underline">Engine Types</h5>
            <div class="js-accordion">
              <strong>Outboard Motors</strong>
              <div>
                <p>
                  Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. 
                </p>
              </div>
              <strong>Gas Sterndrive Engines</strong>
              <div>
                <p>
                  Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. 
                </p>
              </div>
              <strong>Pod Drive Engines</strong>
              <div>
                <p>
                  Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                </p>
              </div>
              <strong>Diesel Inboard Engines</strong>
              <div>
                <p>
                  Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar col-12-xs col-12-sm col-4-md">
        <h3>Related Articles</h3>
        <div class="grid-item">
          <div class="grid-item--content">
            <a href=""><img src="../templates/styleguide/builder/assets/grid-image.png" alt=""></a>
            <div class="title"><a href="">New Year, New Boat? Tips for shopping a boat show</a></div>
            <div class="slugline">Feb 2018 | Gus Author</div>
            <div class="body">
              <p>A New Year means new resolutions. Maybe your resolution is looking to spend more quality time with family and friends?</p>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="grid-item--content">
            <a href=""><img src="../templates/styleguide/builder/assets/grid-image.png" alt=""></a>
            <div class="title"><a href="">New Year, New Boat? Tips for shopping a boat show</a></div>
            <div class="slugline">Feb 2018 | Gus Author</div>
            <div class="body">
              <p>A New Year means new resolutions. Maybe your resolution is looking to spend more quality time with family and friends?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="grid">
    {% include componentroot ~ '/5-templates/grid_containers/3_up_news_items.twig' %}
  </section>
</div>

{# Footer #}
{% include componentroot ~ '/4-organisms/footer/footer.twig'  %}
