.view-seminar-view {
    margin: 3%;
    border-top: 1px solid;
}

.view-seminar-view .views-view-grid .views-col {
    padding: 2%;
}

.view-seminar-view .views-view-grid .views-field .views-label,
.views-view-grid .views-field .field-content {
    display: inline-block;
}

.view-seminar-view .views-view-grid .views-field .views-label,
.views-view-grid .views-field .field-content {
    display: inline-block;
}

.view-seminar-view .views-view-grid .views-field .views-label {
  @extend %key-value-key;
    width: 35%;
    font-size: 12px;
}

.view-seminar-view .view-content .views-field.views-field-field-reserve-link .field-content {
    width: 100%;
    margin: 3em 0;
}

.view-seminar-view .view-content .views-field.views-field-view-node .field-content {
    margin-bottom: 30px;
}

.view-seminar-view .view-content .views-field.views-field-title .field-content {
    font-size: 18px;
}

.view-seminar-view .view-content span.views-field.views-field-field-reserve-link a {
    border: $button-border-width solid $color-button-secondary-border;
    border-radius: $button-border-radius;
    padding: 5% 15%;
    text-decoration: none;
    color: $color-button-secondary-border;
    font-weight: 700;
}

.view-seminar-view .view-content .views-field .field-content a:link,
.view-seminar-view .view-content .views-field .field-content a:visited,
.view-seminar-view .view-content .views-field .field-content a:hover,
.view-seminar-view .view-content .views-field .field-content a:active {
    font-weight: 700;
}

.view-seminarreference .view-content .views-field .field-content a:link,
.view-seminarreference .view-content .views-field .field-content a:visited,
.view-seminarreference .view-content .views-field .field-content a:hover,
.view-seminarreference .view-content .views-field .field-content a:active {
    font-weight: 500;
}

.view-seminarreference .view-content div {
    display: inline-block;
}

.view-seminarreference .view-content .views-field::after {
    content: ",";
}

.view-seminarreference .view-content .views-row-last .views-field::after {
    content: "";
}
.node--seminar .field--name-field-smnr-seminar-date,
.node--seminar .field--name-field-smnr-seminar-locaton,
.node--seminar .field--name-field-smnr-seminar-speaker,
.semref {
    display: inline-block;
    width:30%;
}

.semref {
    font-weight: 700;
}

.view-seminar-view {
  .views-row {
    background: #fff;

    > .views-field-nothing {
      min-height: 100%;
      position: relative;
    }

  }
  .views-col {
    @include media-breakpoint-up(lg) {
      width: 33%;
    }
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}

.node--type-seminar.node--view-mode-full {

  .seminar-details-right {
    @include slab-light-gray;
    padding: $dimension-card-padding;
  }

  // Speaker teasers view
  .seminar-details-right .views-row:not(:first-child) {
    margin-top: $dimension-card-padding;
    padding-top: $dimension-card-padding;
    border-top: $color-rules solid 1px;
  }

  .seminar-sessions {
    padding-bottom: $dimension-vertical-rhythm-elements;
    margin-bottom: $dimension-vertical-rhythm-elements;
    border-bottom: $color-rules solid 1px;

    & table {
      margin-bottom: 0;

      // Reset global table styles
      &,
      & thead,
      & tbody,
      & tr,
      & tr:nth-child(even),
      & tr:nth-child(odd),
      & th,
      & td {
        background-color: transparent;
        border: none;
      }
    }

  }

  /////////////////////
  /// Metadata
  /////////////////////

  // Basic Styles
  .seminar-metadata {
    margin-bottom: $dimension-vertical-rhythm-elements;

    .field {
      @extend %key-value-pair !optional;
      display: block;
      @include clearfix;
      margin-bottom: 8px;
    }

    .field .field__label,
    .field .field__item {
      float: left;
      // sass-lint:disable no-empty
    }

    .field .field__label {
      @extend %key-value-key !optional;
      width: 130px;
      &:after {
        content: ': ';
      }
    }
    .field .field__item {
      @extend %key-value-value !optional;
      width: calc(100% - 130px);
    }
  }

  // Desktop gridding
  @media screen and (min-width: $screen-sm) {
    .seminar-metadata {
      display: flex;
      flex-wrap: wrap;

      .field {
        flex: 1 0 auto;
        width: 50%;
      }
    }
  }

  .seminar-description {
    margin-bottom: $dimension-vertical-rhythm-elements;
  }

  .seminar-reserve {
    margin-bottom: $dimension-vertical-rhythm-elements;

    p {
      margin-top: 0;
      line-height: 1.3;
    }

    .field--name-field-reserve-link a {
      @include button--secondary;
      margin-bottom: 10px;
      min-width: auto;
      padding-left: 1.2em;
      padding-right: 1.2em;
    }
  }
}
