
article.node--view-mode-grid-item {
  //padding: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $colorname-lighter-gray; // use variable
  
  .col-1 {
    //padding: 1em 1em 1em 0;
    //border-bottom: 1px solid $colorname-lighter-gray; // use variable
    padding: 1em 0 1em 0;
  }
  
  .col-2 {
    //padding: 1em 0 1em 1em;
    //border-bottom: 1px solid $colorname-lighter-gray; // use variable
    padding: 1em 0 1em 0;
  }
  
  h2 {
    text-transform: none;
    font-size: 1.25rem;
    line-height: normal;
    
    a {
      color: #2dace3; // move to override
    }
  }
  
  .submitted {
    font-style: italic;
  }
  
  .content {
    
    .field--name-field-article-teaser {
      display: inline;
      
      p {
        display: inline;
      }
      
    }
    
    a.read-more {
      white-space: nowrap;
      color: #2dace3; // move to override
    }
    
    span.addtoany_list {
      white-space: nowrap;
    }
    
  }
  
}