////////////////////
/// Show Info Brick
////////////////////
.show-info-banner {

  & {
    // Font size controls the size of the main name element, all other elements are sized relative to this.
    font-size: 35px;

    justify-content: flex-end;
    font-weight: $font-weight-normal;
    text-align: left;
    line-height: 1;
  }

  & .show-name {
    @include headline-effect-city-color;
    padding: 0; //reset padding on h3

    font-size: 1em;
    line-height: 1em;
    margin-bottom: 0.5em;

    text-transform: uppercase;
    font-weight: $font-weight-bold;

    // The ® mark
    & sup {
      font-size: 0.35em;
      vertical-align: middle;
      top: -1em;
      position: relative;
    }

    & img {
      display: block;
      line-height: 0;
    }
  }

  & .show-date {
    font-size: 0.857em; //30px on 35px
    font-weight: $font-weight-semibold;
  }

  & .show-location {
    font-size: 0.714em; //25px on 35px
    font-weight: $font-weight-semibold;
    display: flex;
    max-width: 12.8em; //320px on 25px;
    margin: 1em auto 0 auto;
    line-height: 1.2;

    &:before {
      @include fa-icon;
      content: $fa-var-map-marker;
      font-size: 1.6em;
      color: $city-color-secondary;
      padding-right: 0.275em;
    }
  }
}

////////////////////
/// Countdown Brick
////////////////////
.brick--type--countdown {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  > * {
    flex-basis: 100%;
  }

  .countdown-title {
    font-size: 25px;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    line-height: 1.417;
    text-align: center;
    margin: 0;
    max-width: 270px;
  }

  .countdown-date {
    display: none;
  }

  .jquery-countdown {
    display: flex;
    text-align: center;
    width: 100%;

    > span {
      flex-grow: 1;
    }

    .countdown-value {
      display: block;
      font-size: 60px;
      font-weight: $font-weight-semibold;
      color: $colorname-white;
      line-height: 1;
    }

    .countdown-label {
      display: block;
      font-size: 15px;
      font-weight: $font-weight-light;
      color: $colorname-white;
      text-transform: uppercase;
      line-height: 1;
    }
  }

  .countdown-button {
    display: inline-block;
    margin: 30px auto 0 auto;
  }
}
