////////////////////
/// Show Info Brick
////////////////////
.city-banner .field--name-field-body {
  justify-content: flex-end;
  font-weight: $font-weight-light;
  text-align: left;

  .progressive-card {
    line-height: 0;
  }
  p {
    margin: 0;
    font-size: 24px;
    font-weight: $font-weight-light;
    color: $colorname-black;
    line-height: 1;
    text-align: left;
    &.bold {
      font-size: 30px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 25px;
    }
  }
  .location-item {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    .hydrated {
      flex: 1;
      max-width: 30px;
      height: 45px;
      margin-right: 10px;
      color: $colorname-picton-blue;
    }
    span.bold {
      flex: 1;
      color: $colorname-black;
      line-height: 1.3;
      font-size: 18px;
      font-weight: $font-weight-light;
      b {
        display: block;
        font-weight: $font-weight-normal;
      }
    }
  }
}

////////////////////
/// Countdown Brick
////////////////////
.brick--type--countdown {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  > * {
    flex-basis: 100%;
  }

  .countdown-title {
    font-size: 28px;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    line-height: 1.417;
    text-align: center;
    margin: 0;
  }

  .countdown-date {
    display: none;
  }

  .jquery-countdown {
    display: flex;
    text-align: center;
    margin: 20px 0;

    > span {
      flex-grow: 1;
    }

    .countdown-value {
      display: block;
      font-size: 50px;
      font-weight: $font-weight-semibold;
      color: $colorname-white;
      line-height: 1;
    }

    .countdown-label {
      display: block;
      font-size: 11px;
      font-weight: $font-weight-light;
      color: $colorname-white;
      text-transform: uppercase;
      line-height: 1;
    }
  }

  .countdown-button {
    display: inline-block;
    margin: 0 auto;
  }
}
