.news-section {
  padding-top: 0;
}

.news-row > .col-12-xs {
  padding-top: 45px;
}

.news-row > .col-4-lg {
  background-color: #f5f5f5;
}

.view-article-views {
  
  article.row {
    margin-bottom: 1em;
  }
  
}

// Global?
.field--name-field-brick-link {
  margin: 1em auto;
  text-align: center;
}
