.email-field-display-overview-wrapper {
  padding: 0 10%;
}

.submit-input-field--clear .icon {
  height: 25px;
  width: 25px;
}

.email-field-display-overview-wrapper .icon::before {
  font-size: 1rem;
  padding-top: 0;
}
