.view-display-id-sail_boats .views-view-grid .views-col {
    padding: 2%;
    width: 25%;
}

.view.view-booths.view-id-booths .views-row {
  display: inline-block;
  clear: none;
  width: auto;
}
.view.view-booths.view-id-booths .views-row .views-field.views-field-field-exhbtr-lctn-booth {
  display: inline;
}

.view.view-booths.view-id-booths .views-row .views-field.views-field-field-exhbtr-lctn-booth::after {
    content: "\002C\00a0";
}

.view.view-booths.view-id-booths .views-row:last-child .views-field.views-field-field-exhbtr-lctn-booth::after {
    content: none;
}


.view-display-id-sail_boats .views-view-grid .views-col,
.view-display-id-sail_accessories .views-view-grid .views-col
 {
    padding: 2%;

    @include media-breakpoint-up(lg) {
      width: 25%;
    }
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
}
.alias--sailing-at-the-show .quicktabs-tabs li a {
  line-height: 0;
  font-size: 0;
    @include media-breakpoint-up(lg) {
      height: 100px;
      width: 100px;
      padding: 100px 130px;
    }
    @include media-breakpoint-down(lg) {
      height: 50px;
      width: 50px;
      padding: 50px 65px;
    }
}
.alias--sailing-at-the-show ul.quicktabs-tabs {
    text-align: center;
    margin-bottom: 100px;
}

.alias--sailing-at-the-show .quicktabs-tabs li.active:first-child a {
  @include media-breakpoint-up(lg) {
    background: #fff url("/themes/custom/boatshow/images/miami/mibs_website_sail_icons-boat_brands_active.png") no-repeat center top;
  }
  @include media-breakpoint-down(lg) {
    background: #fff url("/themes/custom/boatshow/images/miami/mibs_website_sail_icons-boat_brands_active_sml.png") no-repeat center top;
  }
}

.alias--sailing-at-the-show .quicktabs-tabs li:first-child a {
  @include media-breakpoint-up(lg) {
    background: #fff url("/themes/custom/boatshow/images/miami/mibs_website_sail_icons-boat_brands_inactive.png") no-repeat center top;
  }
  @include media-breakpoint-down(lg) {
    background: #fff url("/themes/custom/boatshow/images/miami/mibs_website_sail_icons-boat_brands_inactive_sml.png") no-repeat center top;
  }
}

.alias--sailing-at-the-show .quicktabs-tabs li.active:last-child a {
  @include media-breakpoint-up(lg) {
    background: #fff url("/themes/custom/boatshow/images/miami/mibs_website_sail_icons-accessories_brands_active.png") no-repeat center top;
  }
  @include media-breakpoint-down(lg) {
    background: #fff url("/themes/custom/boatshow/images/miami/mibs_website_sail_icons-accessories_brands_active_sml.png") no-repeat center top;
  }
}

.alias--sailing-at-the-show .quicktabs-tabs li:last-child a {
  @include media-breakpoint-up(lg) {
    background: #fff url("/themes/custom/boatshow/images/miami/mibs_website_sail_icons-accessories_brands_inactive.png") no-repeat center top;
  }
  @include media-breakpoint-down(lg) {
    background: #fff url("/themes/custom/boatshow/images/miami/mibs_website_sail_icons-accessories_brands_inactive_sml.png") no-repeat center top;
  }
}

.sailboatbrand {
    display: inline-block;
}

.sailboatbrand img {
    padding: 0 0 0 5px;
}

.sailboatbrandlogo {
    display: inline-block;
    width: 30%;
}

.sailboatbrandtext {
    display: inline-block;
    width: 70%;
}
