.view-display-id-sail_boats .views-view-grid .views-col {
    padding: 2%;
    width: 25%;
}

.view.view-booths.view-id-booths .views-row {
  display: inline-block;
  clear: none;
  width: auto;
}
.view.view-booths.view-id-booths .views-row .views-field.views-field-field-exhbtr-lctn-booth {
  display: inline;
}

.view-id-booths .views-row::after {
    content: ", ";
  }

.view-id-booths .views-row:last-child::after {
    content: none;
}



.view-display-id-sail_boats .views-view-grid .views-col,
.view-display-id-sail_accessories .views-view-grid .views-col
 {
    padding: 2%;

    @include media-breakpoint-up(lg) {
      width: 25%;
    }
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
}
.alias--sailing-at-the-show .quicktabs-tabs li a {
    height: 100px;
    width: 100px;
    line-height: 0;
    font-size: 0;
    padding: 100px 130px;
}
.alias--sailing-at-the-show ul.quicktabs-tabs {
    text-align: center;
    margin-bottom: 100px;
}

.alias--sailing-at-the-show .quicktabs-tabs li.active:first-child a {
  background: #fff url("/themes/custom/boatshow/images/mibs_website_sail_icons-boat_brands_active.png") no-repeat center top;
}

.alias--sailing-at-the-show .quicktabs-tabs li:first-child a {
  background: #fff url("/themes/custom/boatshow/images/mibs_website_sail_icons-boat_brands_inactive.png") no-repeat center top;
}

.alias--sailing-at-the-show .quicktabs-tabs li.active:last-child a {
  background: #fff url("/themes/custom/boatshow/images/mibs_website_sail_icons-accessories_brands_active.png") no-repeat center top;
}

.alias--sailing-at-the-show .quicktabs-tabs li:last-child a {
  background: #fff url("/themes/custom/boatshow/images/mibs_website_sail_icons-accessories_brands_inactive.png") no-repeat center top;
}
