.view-seminar-view {
    margin: 3%;
    border-top: 1px solid;
}

.view-seminar-view .views-view-grid .views-col {
    padding: 2%;
}

.view-seminar-view .views-view-grid .views-field .views-label,
.views-view-grid .views-field .field-content {
    display: inline-block;
}

.view-seminar-view .views-view-grid .views-field .views-label,
.views-view-grid .views-field .field-content {
    display: inline-block;
}

.view-seminar-view .views-view-grid .views-field .views-label {
    width: 35%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.view-seminar-view .view-content .views-field.views-field-field-reserve-link .field-content {
    width: 100%;
    margin: 3em 0;
}

.view-seminar-view .view-content .views-field.views-field-view-node .field-content {
    margin-bottom: 30px;
}

.view-seminar-view .view-content .views-field.views-field-title .field-content {
    font-size: 18px;
}

.view-seminar-view .view-content span.views-field.views-field-field-reserve-link a {
    border: $button-border-width solid $color-button-secondary-border;
    border-radius: $button-border-radius;
    padding: 5% 15%;
    text-decoration: none;
    color: $color-button-secondary-border;
    font-weight: 700;
}

.view-seminar-view .view-content .views-field .field-content a:link,
.view-seminar-view .view-content .views-field .field-content a:visited,
.view-seminar-view .view-content .views-field .field-content a:hover,
.view-seminar-view .view-content .views-field .field-content a:active {
    font-weight: 700;
}

.view-seminarreference .view-content .views-field .field-content a:link,
.view-seminarreference .view-content .views-field .field-content a:visited,
.view-seminarreference .view-content .views-field .field-content a:hover,
.view-seminarreference .view-content .views-field .field-content a:active {
    font-weight: 500;
}

.view-seminarreference .view-content div {
    display: inline-block;
}

.view-seminarreference .view-content .views-field::after {
    content: ",";
}

.view-seminarreference .view-content .views-row-last .views-field::after {
    content: "";
}
.node--seminar .field--name-field-smnr-seminar-date,
.node--seminar .field--name-field-smnr-seminar-locaton,
.node--seminar .field--name-field-smnr-seminar-speaker,
.semref {
    display: inline-block;
    width:30%;
}

.semref {
    font-weight: 700;
}

.view-seminar-view {
  .views-row {
    background: #fff;

    > .views-field-nothing {
      min-height: 100%;
      position: relative;
    }

  }
  .views-col {
    @include media-breakpoint-up(lg) {
      width: 33%;
    }
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}
