.features-filter {
  justify-content: center;
  margin-bottom: 1.5rem;

  .column-item {
    text-align: center;
    width: 20%;
  }

  .grid-item--content {
    cursor: pointer;

    // I don't like duplicating the dimensions here, but I need to move on.
    .field--name-image {
      border: 2px solid $color-gray-medium;
      box-shadow: $color-gray-medium 0px 0px 14px;
      height: 85px;
      width: 85px;
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .body {
      color: $color-gray-medium;
      font-family: $proxima-bold;
      text-transform: uppercase;

      p {
        font-size: $font-size-body-copy-small;

        &::before,
        &::after {
          color: $red;
          display: inline;
          vertical-align: 1px;
        }

        &::before {
          content: '[ ';
        }

        &::after {
          content: ' ]';
        }
      }

      &::before {
        color: $blue;
        content: '\004e';
        display: block;
        font-family: "boatshow-icons";
        font-size: 1.25rem;
        line-height: 1;
        margin: 0.5em 0 0.25em;
      }
    }

    &:hover {
      .field--name-image {
        border-color: $red;
      }
    }
  }

  .filter-selected .body::before {
    content: '\004f'
  }
}

.features-grid {
  justify-content: flex-start;
  margin: -1em -1em;

  .column-item {
    background: $color-gray-light;
    border-left: 1em solid white;
    border-top: 1em solid white;

    &:hover {
      .grid-item--content > img {
        filter: none;
      }
    }
  }

  .grid-item--content {
    position: relative;

    & > img {
      filter: sepia(100%) hue-rotate(160deg) brightness(.9) contrast(150%);
      width: 100%;
    }

    // TODO: Hopefully we can create a twig for this...
    .field--name-field-3-col-card-icon {
      background: white;
      border: $blue 5px solid;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      overflow: hidden;
      text-align: center;
      position: relative;
      top: -60px;
      margin: 0 auto -68px;

      // I don't like duplicating the dimensions here, but I need to move on.
      .field--name-image {
        height: 100px;
        width: 100px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .body {
      line-height: 1.25;
      padding: 1.5em;

      h3 {
        color: $red;
        font-size: rem-calc(19px);
        line-height: 1.15;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
