 <div id="go-boating-today">
  <script>
     ;(function () {
       window.NMMA_LANG = window.NMMA_LANG || {};
       window.NMMA_LANG.GoBoatingToday =  { "text": "en-ca", "arguments": { "isCanada": "true","GBT_DefaultLatitude": "35.75405374491752","GBT_DefaultLongitude": "-96.31402950000006","GBT_DefaultZoom": "4","GBT_Keywords_BoatRental": "boat rental","GBT_Keywords_BoatCharter": "boat charter","GBT_Msg_EnterLocation": "Please enter a location above.","GBT_Msg_SelectFilter": "Please select at least one filter.","GBT_Msg_Failsafe": "The request to Google timed out or there was a technical error.","GBT_Msg_GetLocationFailed": "Uh oh! We couldn\'t get your location, please enter it manually above." }, "errors": [], "errorMessage": "", "message": "", "status": 0 };
     })();
  </script>
  <script>
     // IP LOCATION
     //TODO - lpw - 2017/5/25 - abstract into control
     ;(function () {
       window.NMMA_LOCATION = {
         city: 'Chicago',
         state: 'Illinois',
         country: 'US',
         ip: '38.88.213.82'
       };
     })();
  </script>
  <div class="flex-container">
    <div class="col-12-xs">
      <div class="flex-container filters-map-wrapper">
        <div class="loader" data-bind="visible: isLoading()">
          <div class="loading"></div>
        </div>
        <div class="filter-column col-12-xs col-5-md">
          <div class="map__filters">
            <div id="GoBoatingForm" class="search-form">
              <div class="submit-input-field--map">
                <button class="use-location js-use-location" data-gtm-tracking="Go Boating Today - Find Nearby" data-bind="click: getLocation, css: { disabled: isLoading() }, visible: locationServicesWork()"></button>
                <form action="" data-bind="submit: searchLocation">
                  <input type="text" id="inputSubmit"  data-gtm-tracking="Go Boating Today - Search by Entry - " data-bind="onkeypress: searchLocation" />
                  <input class="button GoBoatingFormSubmit" type="submit" value="" data-gtm-tracking="Go Boating Today - Search by Entry - " data-bind="click: searchLocation" />
                </form>
                <i class="icon icon-db-search"></i>
                <i class="icon icon-db-location"></i>
              </div>
              <div class="form-filters">
                <strong>Filter by</strong>
                <label class="toggle-wrapper">Boat Rentals
                  <input type="checkbox" data-gtm-tracking="Go Boating Today - Filter - Boat Rental" data-bind="checked: kwBoatRentalActive, disable: isLoading()" name="filterGroup" value="boat rental" id="filterBoatRentals" checked="checked" disabled="disabled" />
                  <i class="icon icon-db-check"></i>
                </label>
                <label class="toggle-wrapper">Charter a Boat
                  <input type="checkbox" data-gtm-tracking="Go Boating Today - Filter - Charter a Boat" data-bind="checked: kwBoatCharterActive, disable: isLoading()" name="filterGroup" value="boat charter" id="filterBoatCharter" checked="checked" disabled="disabled" />
                  <i class="icon icon-db-check"></i>
                </label>
              </div>
            </div>
          </div>
          <div class="result-messages" data-bind="visible: hasMessage()">
            <p data-bind="text: message"></p>
          </div>

          <ul class="map__list" style="display:none" data-bind="visible: places().length > 0">
            <!-- ko foreach: places  -->
            <!-- ko if: isActive()  -->
            <li class="result-box">
              <dl>
                <dt class="title" data-bind="html: title"></dt>
                <dd class="address" data-bind="text: address"></dd>
                <dd class="more-info">
                  <a class="electric-link" data-bind="attr: { href: directionsLink, 'data-gtm-tracking': directionsLinkGTM } ">
                    Directions
                  </a>
                  <span class="separator"><small>|</small></span>
                  <a class="electric-link" href="" data-bind="click: function() { goToWebsite() } " data-gtm-tracking="Go Boating Today - Website - ">
                    Website
                  </a>
                  <span class="rating" data-bind="visible: !isNaN(rating()), attr: { 'data-rating': rating }">
                    <span class="separator"><small>|</small></span>
                    <!-- ko foreach: ratingStars -->
                    <span data-bind="css: star"></span>
                    <!-- /ko -->
                  </span>
                </dd>
              </dl>
            </li>
            <!-- /ko -->
            <!-- /ko -->
          </ul>
          <div id="infowindow-container" style="display:none">
            <!-- ko if: selectedPlace -->
            <!-- ko with: selectedPlace -->
            <div class="result-box">
              <dl>
                <dt class="title" data-bind="text: name"></dt>
                <dd class="address" data-bind="text: address"></dd>
                <dd class="more-info">
                  <a class="electric-link"  data-bind="attr: { href: directionsLink, 'data-gtm-tracking': directionsLinkPrGTM }">
                    Directions
                  </a>
                  <span class="website-link-section">
                    <span class="separator"><small>|</small></span>
                    <a class="electric-link" data-bind="attr: { href: websiteLink, 'data-gtm-tracking': websiteLinkPrGTM } ">
                        Website
                    </a>
                  </span>
                  <span class="rating" data-bind="visible: !isNaN(rating()), attr: { 'data-rating': rating }">
                    <span class="separator"><small>|</small></span>
                    <!-- ko foreach: ratingStars -->
                    <span data-bind="css: star"></span>
                    <!-- /ko -->
                  </span>
                </dd>
              </dl>
            </div>
            <!-- /ko -->
            <!-- /ko -->
          </div>
          <div style="display:none" data-bind="visible: pagination() && pagination().totalPages() > 1">
            <!-- ko with: pagination -->
            <!-- ko if: totalPages() > 1 -->
            <div class="pagination">
              <a href="#" class="previous" data-bind="visible: currentPage() !== 1, click: function () { loadPage(currentPage() - 1) }"><i class="icon icon-db-arrow-left"></i></a>
              <!-- ko foreach: pages -->
              <a href="#" data-bind="text: page, click: function () { $parent.loadPage(page) }, css: { active : $parent.currentPage() === page }"></a>
              <!-- /ko -->
              <a href="#" class="next" data-bind="visible: currentPage() !== totalPages(), click: function () { loadPage(currentPage() + 1) }"><i class="icon icon-db-arrow-right"></i></a>
            </div>
            <!-- /ko -->
            <!-- /ko -->
          </div>
        </div> <!-- /.filter-results -->
        <div class="map-column col-12-xs col-7-md">
          <div id="map-canvas"></div>
        </div>
      </div> <!-- /.filter-content -->
    </div>
  </div>
</div>
 <script type="text/javascript">var siteConfig = window.siteConfig || {}; siteConfig.goBoatingToday = true;</script>