
#GoBoatingForm form {
  width: 100%;
}

.go-boating-logos {
  a {
    display: inline;

    img {
      display: inline-block;
      height: auto;
      margin: 0 5px;
      max-width: 85px;
      vertical-align: middle;
    }
  }
}
