.sitemap-wrapper {
  .brick--type--text {
    font-size: 1rem;
  }

  .sitemap-indent {
    padding-left: 1rem;
  }

  .menu--mm-buying-a-boat-finder,
  .menu--mm-buying-a-boat-calc,
  .menu--mm-buying-a-boat-shopping {
    li {
      display: none;
    }

    lh {
      display: block;
    }
  }

  .menu--mm-owning-a-boat {
    li.col-6-md {
      @extend .col-12-xs;
    }
  }
}
