// Main Page-level Styles

.page-content.stories {
  .play-block {
    height: 250px;
  }

  .play-block--sm {
    @extend .play-block;
  }

  blockquote {
    margin-top: 40px;
  }

  .photo {
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: flex-end;
    margin-bottom: 20px;

    span {
      color: $color-white;
      text-align: right;
      opacity: 0.75;
      padding-right: 10px;
    }
  }
}

// Screen breakpoints

// Mobile: > 576px
// Tablet: > 768px
// Desktop: > 992px

@include media-breakpoint-up(lg) {
  .page-content.stories {
    .play-block {
      height: 500px;
    }

    .play-block--sm {
      height: 250px;
    }

    .photo {
      display: flex;
      flex-direction: column;
      height: 200px;
      justify-content: flex-end;
      margin-bottom: 20px;

      span {
        color: $color-white;
        text-align: right;
        opacity: 0.75;
        padding-right: 10px;
      }
    }
  }
}

// Large: > 1200px
