///////////////////////////////
/// 1. City Override Variables
///////////////////////////////
$city-color-primary: #ed1c24;
$city-color-secondary: #03a2dd;
$city-color-tertiary: #03a2dd;

///////////////////////////////
/// 2. Include Stylesheet
///////////////////////////////
@import 'styles';

///////////////////////////////
/// 3. City Override CSS Rules
///////////////////////////////
