///////////////////////////////
/// 1. City Override Variables
///////////////////////////////
$city-color-primary: #97c93d;
$city-color-secondary: #0075bf;
$city-color-tertiary: #0075bf;

///////////////////////////////
/// 2. Include Stylesheet
///////////////////////////////
@import 'styles';

///////////////////////////////
/// 3. City Override CSS Rules
///////////////////////////////
