///////////////////////////////
/// 1. City Override Variables
///////////////////////////////
$city-color-primary: #d90a0a;
$city-color-secondary: #1fb9eb;
$city-color-tertiary: #1fb9eb;

$seminar-filter--hide-level: true;

///////////////////////////////
/// 2. Include Stylesheet
///////////////////////////////
@import 'styles';

///////////////////////////////
/// 3. City Override CSS Rules
///////////////////////////////
