{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

        {% if content is empty %}
            <div class="megamenu__drawer">
                <div class="flex-container">
                    <div class="col-6-md">
                        {{ drupal_entity('block_content', '1') }}
                    </div>
                    <div class="col-6-md">
                        {{ drupal_entity('block_content', '6') }}
                    </div>
                </div>
            </div>

        {% else %}
            {{ content }}
        {% endif %}
