.boat-brand__item {
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease;

  .image {
    min-height: 200px;
  }

  .arrow {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $color-gray-light;
    bottom: -40px;
    cursor: default;
    display: none;
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 0;
  }

  &.active {
    border-bottom: 3px solid $color-aqua;

    .arrow {
      display: block;
    }
  }
}

.boat-brand__drawer-content {
  display: none;

  h3 {
    margin: 0 20px 10px 0;
  }
}

.boat-brand__drawer-container {
  display: none;
  width: 100%;

  .boat-brand__drawer-content {
    background-color: $color-gray-light;
    display: block;
    position: relative;
    margin: 17px 0 20px;
    padding: 20px;

    .close {
      color: $color-gray-dark;
      font-size: 1.5em;
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .flex-container {
      justify-content: flex-start;

      & > div {
        box-sizing: border-box;
        margin-bottom: 10px;
        padding-right: 10px;
      }
    }
  }
}

.boat-brand-list {
  a {
    margin-bottom: 10px;
    display: inline-block;
  }
}

//
// Responsive breakpoints
//

// Tablet: > 768px

@include media-breakpoint-up(md) {
  .boat-brand__drawer-content {
    h3 {
      margin-right: 0;
    }
  }
}
