
//Content Width Rules
$susy: (
  columns: susy-repeat(12),
  math: fluid,
  gutter-position: after,
  gutters: 20px,
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

//////////////////////////////////
// Primary Container Rules ///////
//////////////////////////////////

$content-max-width: 1170px;

@mixin container {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-max-width + 40;
  padding-left: susy-gutter();
  padding-right: susy-gutter();
  box-sizing: border-box;
}

.container {
  @include container();
}

#main {
  background: $colorname-white;

  & > section:first-child {
    margin-top: 50px;
  }

  & > section > .content,
  #block-boatshow-local-tasks {
    @include container();
  }

  & > article {
    margin-top: 30px;
  }
}

#main,
footer,
.node--type-component-page {
  & > section {
    margin: 0 auto 40px;
    max-width: $content-max-width + 40;
    width: susy-span(12 of 12);
    padding-left: susy-gutter();
    padding-right: susy-gutter();
    box-sizing: border-box;
  }

  .page-intro {
    margin-top: 40px;
  }
}

.content-block {
  margin-bottom: 40px;
}

.view-article-views {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }
}

@mixin flex-container {
  @extend .flex-container;
}

.flex-container--sm-no-margin {
  @extend .flex-container;

  margin-left: - susy-gutter();
  width: calc(100% + 40px);
}

.flex {
  display: flex;
}

.flex--vertical {
  @extend .flex;

  flex-direction: column;
}

.row {
  @include flex-container;

  box-sizing: border-box;
  width: susy-span(12 of 12);
}

.col-1-xs { width: susy-span(1 of 12); }
.col-2-xs { width: susy-span(2 of 12); }
.col-3-xs { width: susy-span(3 of 12); }
.col-4-xs { width: susy-span(4 of 12); }
.col-5-xs { width: susy-span(5 of 12); }
.col-6-xs { width: susy-span(6 of 12); }
.col-7-xs { width: susy-span(7 of 12); }
.col-8-xs { width: susy-span(8 of 12); }
.col-9-xs { width: susy-span(9 of 12); }
.col-10-xs { width: susy-span(10 of 12); }
.col-11-xs { width: susy-span(11 of 12); }
.col-12-xs { width: susy-span(12 of 12); }

.col-offset-0-xs { margin-left: 0; }
.col-offset-1-xs { margin-left: susy-span(1 wide); }
.col-offset-2-xs { margin-left: susy-span(2 wide); }
.col-offset-3-xs { margin-left: susy-span(3 wide); }
.col-offset-4-xs { margin-left: susy-span(4 wide); }
.col-offset-5-xs { margin-left: susy-span(5 wide); }
.col-offset-6-xs { margin-left: susy-span(6 wide); }
.col-offset-7-xs { margin-left: susy-span(7 wide); }
.col-offset-8-xs { margin-left: susy-span(8 wide); }
.col-offset-9-xs { margin-left: susy-span(9 wide); }
.col-offset-10-xs { margin-left: susy-span(10 wide); }
.col-offset-11-xs { margin-left: susy-span(11 wide); }

// Component Styles

.brick--type--layout {
  & > div[class^='col-'],
  & > div[class*=' col-'] {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

[class^='col-'],
[class*=' col-'] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

//
// Responsive breakpoints
//

// Mobile: > 576px

@include media-breakpoint-up(sm) {
  .col-1-sm { width: susy-span(1 of 12); }
  .col-2-sm { width: susy-span(2 of 12); }
  .col-3-sm { width: susy-span(3 of 12); }
  .col-4-sm { width: susy-span(4 of 12); }
  .col-5-sm { width: susy-span(5 of 12); }
  .col-6-sm { width: susy-span(6 of 12); }
  .col-7-sm { width: susy-span(7 of 12); }
  .col-8-sm { width: susy-span(8 of 12); }
  .col-9-sm { width: susy-span(9 of 12); }
  .col-10-sm { width: susy-span(10 of 12); }
  .col-11-sm { width: susy-span(11 of 12); }
  .col-12-sm { width: susy-span(12 of 12); }

  .col-offset-0-sm { margin-left: 0; }
  .col-offset-1-sm { margin-left: susy-span(1 wide); }
  .col-offset-2-sm { margin-left: susy-span(2 wide); }
  .col-offset-3-sm { margin-left: susy-span(3 wide); }
  .col-offset-4-sm { margin-left: susy-span(4 wide); }
  .col-offset-5-sm { margin-left: susy-span(5 wide); }
  .col-offset-6-sm { margin-left: susy-span(6 wide); }
  .col-offset-7-sm { margin-left: susy-span(7 wide); }
  .col-offset-8-sm { margin-left: susy-span(8 wide); }
  .col-offset-9-sm { margin-left: susy-span(9 wide); }
  .col-offset-10-sm { margin-left: susy-span(10 wide); }
  .col-offset-11-sm { margin-left: susy-span(11 wide); }
}

// Tablet: > 768px

@include media-breakpoint-up(md) {
  .col-1-md { width: susy-span(1 of 12); }
  .col-2-md { width: susy-span(2 of 12); }
  .col-3-md { width: susy-span(3 of 12); }
  .col-4-md { width: susy-span(4 of 12); }
  .col-5-md { width: susy-span(5 of 12); }
  .col-6-md { width: susy-span(6 of 12); }
  .col-7-md { width: susy-span(7 of 12); }
  .col-8-md { width: susy-span(8 of 12); }
  .col-9-md { width: susy-span(9 of 12); }
  .col-10-md { width: susy-span(10 of 12); }
  .col-11-md { width: susy-span(11 of 12); }
  .col-12-md { width: susy-span(12 of 12); }

  .col-offset-0-md { margin-left: 0; }
  .col-offset-1-md { margin-left: susy-span(1 wide); }
  .col-offset-2-md { margin-left: susy-span(2 wide); }
  .col-offset-3-md { margin-left: susy-span(3 wide); }
  .col-offset-4-md { margin-left: susy-span(4 wide); }
  .col-offset-5-md { margin-left: susy-span(5 wide); }
  .col-offset-6-md { margin-left: susy-span(6 wide); }
  .col-offset-7-md { margin-left: susy-span(7 wide); }
  .col-offset-8-md { margin-left: susy-span(8 wide); }
  .col-offset-9-md { margin-left: susy-span(9 wide); }
  .col-offset-10-md { margin-left: susy-span(10 wide); }
  .col-offset-11-md { margin-left: susy-span(11 wide); }

  .flex-container--sm-no-margin {
    margin-left: 0;
    width: susy-span(12 of 12);
  }

  .brick--type--layout {
    & > div[class^='col-'],
    & > div[class*=' col-'] {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

// Desktop: > 992px

@include media-breakpoint-up(lg) {
  .col-1-lg { width: susy-span(1 of 12); }
  .col-2-lg { width: susy-span(2 of 12); }
  .col-3-lg { width: susy-span(3 of 12); }
  .col-4-lg { width: susy-span(4 of 12); }
  .col-5-lg { width: susy-span(5 of 12); }
  .col-6-lg { width: susy-span(6 of 12); }
  .col-7-lg { width: susy-span(7 of 12); }
  .col-8-lg { width: susy-span(8 of 12); }
  .col-9-lg { width: susy-span(9 of 12); }
  .col-10-lg { width: susy-span(10 of 12); }
  .col-11-lg { width: susy-span(11 of 12); }
  .col-12-lg { width: susy-span(12 of 12); }

  .col-offset-0-lg { margin-left: 0; }
  .col-offset-1-lg { margin-left: susy-span(1 wide); }
  .col-offset-2-lg { margin-left: susy-span(2 wide); }
  .col-offset-3-lg { margin-left: susy-span(3 wide); }
  .col-offset-4-lg { margin-left: susy-span(4 wide); }
  .col-offset-5-lg { margin-left: susy-span(5 wide); }
  .col-offset-6-lg { margin-left: susy-span(6 wide); }
  .col-offset-7-lg { margin-left: susy-span(7 wide); }
  .col-offset-8-lg { margin-left: susy-span(8 wide); }
  .col-offset-9-lg { margin-left: susy-span(9 wide); }
  .col-offset-10-lg { margin-left: susy-span(10 wide); }
  .col-offset-11-lg { margin-left: susy-span(11 wide); }

  #main {
    & > article {
      margin-top: 50px;
    }
  }
}
