<nav role="navigation" aria-labelledby="block-mainnavigation-2-menu" id="block-mainnavigation-2" class="contextual-region block block-menu navigation block-system-menublock menu--main" data-block-plugin-id="menu_block:main">
  <ul class="menu">
    <li>
      <a href="/node/6" data-drupal-link-system-path="node/6">High Speed Holiday</a>
    </li>
    <li>
      <a href="/node/7" data-drupal-link-system-path="node/7">Get Away From it All</a>
    </li>
    <li>
      <a href="/node/8" data-drupal-link-system-path="node/8">Keys to the Good Life</a>
    </li>
    <li>
      <a href="/node/9" data-drupal-link-system-path="node/9">Refresh Your Relationships</a>
    </li>
    <li>
      <a href="/node/10" data-drupal-link-system-path="node/10">A Family Tradition</a>
    </li>
  </ul>
</nav>