{% if content %}
  {% block content %}
    <section {{ attributes }}>
      {% for region in content['#layout'].regions|keys if content[region] %}
        {% block loop %}
          <div class="column-item">
            {{ content[region] }}
          </div>
        {% endblock %}
      {% endfor %}
    </section>
  {% endblock %}
{% endif %}
