{% if content %}

  <section {{ attributes.addClass('flex-container').addClass('nmma-layout two-columns') }}>
    {% for region in content['#layout'].regions|keys if content[region] %}
      <div class="col-12-xs col-6-sm column-item">
        {{ content[region] }}
      </div>
    {% endfor %}
  </section>

{% endif %}
