.alias--contacts .block-system-main-block {
  .field--name-field-profile-image {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.node--type-contact-profile.node--view-mode-teaser {
  clear: both;
  overflow: hidden;
  margin-top: 1rem;

  .image-wrap {
    margin-right: 1rem;
  }
}
