.super-thursday {
  color: #da5a3b;
  font-size: 1.25rem;
  font-weight: $font-weight-bold;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #0d539b;
    font-size: 115%;
    text-transform: initial;
  }

  a {
    text-decoration: underline;
  }
}

.alias--exhibitor-deals,
.alias--special-offers {
  // Scoped to this specific page for now, will attempt to generalize later if
  // need be.
  .views-row {
    @include view-item;
  }

  .views-field-title,
  .views-field-field-booth {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .views-field-title {
    color: $colorname-dark-gray;
    font-weight: $font-weight-normal;
    font-size: 20px;
  }

  .views-field-field-booth {
    padding-bottom: 0.8em;
    margin-bottom: 1.25em;
    position: relative;

    &::after {
      content: "";
      background: red;
      height: 1px;
      width: 80px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -40px;
    }
  }
}
