<div class="article-share">
  <ul>
    <li><a href="https://www.facebook.com/discoverboating"><i class="icon icon-db-social-facebook"></i></a></li>
    <li><a href="https://twitter.com/discoverboating"><i class="icon icon-db-social-twitter"></i></a></li>
    <li><a href="mailto:?Subject=This%20Amazing%20Boat%20Article" target="_top"><i class="icon icon-db-social-email"></i></a></li>
  </ul>
</div>