<div class="col-12-xs col-12-sm col-4-md">
  <div class="article-block--small">
    <a href="">
      <div class="image curve-corner">
        <div style="background-image: url(../templates/styleguide/builder/assets/grid-image.png);"></div>
      </div>
      <div class="title">
        <span class="headline">
          Life is better on a boat!
        </span>
        <span class="byline text-xsmall">DATE 2018 | Author Name</span>
      </div>
    </a>
  </div>
</div>