<div class="col-12-xs col-12-sm col-8-md">
  <div class="article-block--large flex-container--sm-no-margin">
    <a href="">
      <div class="image" style="background-image: url(../templates/styleguide/builder/assets/article-image.png);"></div>
      <div class="title">
        <h4 class="small">
          Teach your Kids to Fish this Summer at a Wildlife Refuge! <i class="icon icon-db-arrow-right"></i>
        </h4>
        <span class="byline text-xsmall">DATE 2018 | Author Name</span>
      </div>
    </a>
  </div>
</div>