<div class="flex-container">
  <div class="map__left">
    <div class="map__filters">
      <form action="">
        <input type="text" placeholder="address or zipcode">
        <div>
          <label for="">Filter By</label>
          <div class="checkbox">
            <input id="boat-rentals" type="checkbox">
            <label for="boat-rentals">Boat Rentals</label>
          </div>
          <div class="checkbox">
            <input id="charter-boat" type="checkbox">
            <label for="charter-boat">Charter a Boat</label>
          </div>
        </div>
      </form>
    </div>
    <div class="map__list">
      <ul>
        <li>
          <strong>1. Long Island Boat Rentals</strong>
          <address>
            403 Main St, Port Washington
          </address>
          <div class="links">
            <ul>
              <li><a href="">Directions</a></li>
              <li><a href="">Website</a></li>
              <li>Stars</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="pager">
      Pager
    </div>
  </div>
  <div class="map__right">
    <div class="boat-map">
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBNM0r3wDIv5-FYDTJedOLUjFv9UY6HFoY
    &q=Space+Needle,Seattle+WA" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>