{# Header#}
{% include componentroot ~ '/4-organisms/header/header.twig' with {'no_hero': 'true'} %}

{# Main Page Content #}
<div class="clearfix no-hero" id="main">
  <section class="page-intro">
    <div class="col-12-xs col-12-sm col-8-md">
      <h1>Freshwater Fishing</h1>
      <p>With around 8 million anglers in Canada, fishing consistently tops the list of favourite outdoor sports. What hooks people on fishing? Maybe it's the variety. Lakes, rivers and streams all offer great fishing and the list of gamefish - trout, bass, tarpon, bonefish, sunfish, muskie, bluegills - goes on and on. Or maybe it’s because fishing can be as much about spending time with family and friends enjoying the outdoors as much as it is about reeling in the big one.</p>
      <p>Whether you want to find helpful freshwater fishing tips and resources or are interested in researching different types of fly fishing boats, explore our site today to discover the unique joys that freshwater fishing can bring to your life.</p>
    </div>
  </section>
  <section class="view-boat-types">
    Boat Types View
  </section>
  <section>
    CTA Grid
  </section>
  <section class="disruptor">
    {% include componentroot ~ '/4-organisms/disruptor/disruptor_activity.twig' %}
  </section>
  <section class="in-content-slider">
    In Content Slider
  </section>
  <section class="section-header">
    <h3>Boating Stories</h3>
  </section>
  <section class="grid">
    {% include componentroot ~ '/5-templates/grid_containers/3_up_news_items.twig' %}
  </section>
</div>

{# Footer #}
{% include componentroot ~ '/4-organisms/footer/footer.twig'  %}
