.nm-clipboard-input {
  display: flex;
}

.nm-clipboard-input input[type='text'] {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
  color: rgba(0, 0, 0, 0.5);
  flex: 1;
  font-family: "Courier New";
  font-size: 13px;
  height: 30px;
  outline: none;
  padding: 4px 6px;
}

.nm-clipboard-input button {
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-left: none;
  border-radius: 0px 3px 3px 0px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  outline:none;
  width: 36px;
}

.nm-clipboard-input button:focus, .nm-clipboard-input button:hover {
  background-image: linear-gradient(#fbfbfb, #e1e1e1);
}

.nm-clipboard-input img {
    margin-left: 2px;
    width: 16px;
}


.nm-clipboard__tooltip {
  display: inline-block;
  position: relative;
}

.nm-clipboard__tooltip::before, .nm-clipboard__tooltip::after {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.nm-clipboard__tooltip::before {
  border-style: solid;
  content: '';
}

.nm-clipboard__tooltip::after {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  content: attr(data-clipboard-alert-text);
  color: #fff;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1;
  padding: 0.5em;
  min-width: 20px;
  text-align: center;
  transition: all .15s ease-in-out;
  white-space: nowrap;
}

.nm-clipboard__tooltip:hover::before, .nm-clipboard__tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

/* Top */
.nm-clipboard__tooltip--top::before {
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  border-width: 8px 8px 0 8px;
  left: 50%;
  top: -10px;
  transform: translate(-50%, 0);
}
.nm-clipboard__tooltip--top::after {
  left: 50%;
  top: -1px;
  transform: translate(-50%, calc(-100% - 8px));
}

/* Right */
.nm-clipboard__tooltip--right::before {
  border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
  border-width: 8px 8px 8px 0;
  right: -9px;
  top: 50%;
  transform: translate(0, -50%);
}
.nm-clipboard__tooltip--right::after {
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 8px), -50%);
}

/* Bottom */
.nm-clipboard__tooltip--bottom::before {
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
  border-width: 0 8px 8px 8px;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
.nm-clipboard__tooltip--bottom::after {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, calc(100% + 8px));
}

/* Left */
.nm-clipboard__tooltip--left::before {
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.7);
  border-width: 8px 0 8px 8px;
  left: -9px;
  top: 50%;
  transform: translate(0, -50%);
}
.nm-clipboard__tooltip--left::after {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 8px), -50%);
}
