

#main > section.disruptor {
  max-width: none;
}

section.disruptor {
  margin-top: 60px;
  position: relative;
}

.disruptor-stacked {
  position: relative;
}

//Full Bleed 50/50 backgrounds
.disruptor-bkgrnd {
  height: 100%;
  position: absolute;
  width: 50%;
  z-index: 0;
}

.disruptor-bkgrnd--left {
  @extend .disruptor-bkgrnd;

  background: $color-blue;
  display: none;
  left: 0;
}

.disruptor-bkgrnd--right {
  @extend .disruptor-bkgrnd;

  background: $color-aqua;
  display: none;
  right: 0;
}

.disruptor-bkgrnd--right-blue {
  @extend .disruptor-bkgrnd;

  background: $color-blue;
  display: none;
  right: 0;
}

.disruptor-bkgrnd--right-gray {
  @extend .disruptor-bkgrnd;

  background: $color-gray-light;
  display: none;
  right: 0;
}



.disruptor-bkgrnd--right .blue {
  background: $color-blue;
}

.disruptor-bkgrnd--left-image {
  @extend .disruptor-bkgrnd;

  background: url('../templates/styleguide/builder/assets/product-disruptor.png') no-repeat;
  background-size: cover;
  display: none;
  left: 0;
}

.disruptor-bkgrnd--right-image {
  @extend .disruptor-bkgrnd;

  background: url('../templates/styleguide/builder/assets/product-disruptor.png') no-repeat;
  background-size: cover;
  display: none;
  right: 0;
}

//Disruptor Container
.disruptor .container {
  color: $color-white;
  padding: 0;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-white;
  }
}

.disruptor .container .disruptor-content--right-gray {
  color: $color-gray-darkest;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-gray-darkest;
  }

  h4 {
    font-size: 16px;
  }
}


//Disruptor Content
.disruptor-content {
  box-sizing: border-box;
  text-align: center;
  z-index: 0;

  @media all and (min-width: 768px) {
    width: 50%;
  }

  p {
    font-size: rem-calc(12px);
    padding-bottom: rem-calc(27px);
  }

  .button {
    background: none;
    border-color: $color-white;
    color: $color-white;
  }

  .button--secondary {
    background: none;
    border-color: $color-aqua;
    color: $color-aqua;
  }

  .brick--type--media {
    min-height: 300px;
  }
}

//Disruptor Content Full Width
.disruptor-content--full-width {
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  background: $color-gray;
  color: $color-gray-dark;
  margin-bottom: rem-calc(60px);

  @media all and (min-width: 768px) {
    width: 100%;
  }

  h4 {
    color: $color-gray-darkest !important;
  }

  p {
    font-size: rem-calc(12px);
    padding-bottom: rem-calc(27px);
  }

  .button {
    background: $color-status-red;
    border-color: $color-gray;
    color: $color-gray;
    padding-left: rem-calc(60px);
    padding-right: rem-calc(60px);
    text-transform: uppercase;
  }

  .button--secondary {
    background: none;
    border-color: $color-aqua;
    color: $color-aqua;
  }

  .brick--type--media {
    min-height: 300px;
  }
}

.disruptor-content--left {
  @extend .disruptor-content;
  background: $color-blue;

  i {
    font-size: 49px;
    line-height: 1px;
  }

  .button:hover {
    background: $color-white;
    color: $color-blue;
  }
}

.disruptor.white--left {
  .disruptor-content--left {
    background: $color-white;
    border: 1px solid $color-gray;
    color: $color-gray-dark;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-gray-dark;
    }
  }
}

.disruptor-content--right,
.disruptor-content--right-gray,
.disruptor-content--right-blue {
  @extend .disruptor-content;
  background: $color-aqua;

  i {
    font-size: 49px;
    line-height: 1px;
  }

  .button:hover {
    background: $color-white;
    color: $color-aqua;
  }
}

.disruptor-content--right-blue {
  background: $color-blue;
}

.disruptor-content--right-gray {
  background: $color-gray-light;

  p {
    font-size: rem-calc(13px);
    line-height: rem-calc(21px);
  }
}

.disruptor-content--image {
  img {
    display: block;
  }
}

.disruptor--list {
  margin-top: rem-calc(9px);
}

.disruptor-card {
  padding-top: rem-calc(60px);
  padding-bottom: rem-calc(60px);
  padding-left: rem-calc(43px);
  padding-right: rem-calc(43px);
}

//Disruptor media
.disruptor-content .brick--type--media {
  overflow: hidden;
  height: 100%;
  width: 100%;

  article {
    height: 100%;
    position: relative;
    width: 100%;

    img {
      height: 100%;
      max-width: none;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0);
      width: auto;
    }
  }
}

//// Tablet: > 768px
@include media-breakpoint-up(md) {
  .disruptor-bkgrnd--left,
  .disruptor-bkgrnd--left-image,
  .disruptor-bkgrnd--right,
  .disruptor-bkgrnd--right-blue,
  .disruptor-bkgrnd--right-gray,
  .disruptor-bkgrnd--right-image {
    display: inline;
  }

  .disruptor-content--image {
    img {
      display: none;
    }
  }
}

// Large: > 1200px

@include media-breakpoint-up(xl) {
  #main > section.disruptor {
    max-width: 980px; //Content Width
  }
}
