<div class="disruptor-bkgrnd--left-image"></div>
<div class="disruptor-bkgrnd--right-blue"></div>
<div class="container flex-container">
  <div class="disruptor-content--image col-12-xs col-12-sm col-6-md">
    <img src="../templates/styleguide/builder/assets/product-disruptor.png" alt="">
  </div>
  <div class="disruptor-content--right-blue col-12-xs col-12-sm col-6-md">
    <h4>Ready to Upgrade Your Vessel?</h4>
    <p>Here are some approaches and tips to trading-in or selling your boat so that you can get your next one.</p>
    <a href="" class="button">Tips for Boats</a>
  </div>
</div>