.responsive-ad-row {
  text-align: center;
  padding-bottom: 15px;

  .responsive-ad {
    display: none;
    padding-top: 20px;
  }

  .responsive-ad-216 {
    display: block;
  }

  @media (min-width: 545px) {
    .responsive-ad {
        display: none;
    }

    .responsive-ad-468 {
        display: block;
    }
  }

  @media (min-width: 992px) {
    .responsive-ad {
        display: none;
    }

    .responsive-ad-728 {
        display: block;
    }
  }
}
