// Typography

$font-regular: 'Antenna-Regular', 'Helvetica', sans-serif;
$font-bold: 'Antenna-Bold', 'Helvetica', sans-serif;
$font-black: 'Antenna-Black', 'Helvetica', sans-serif;
$font-light: 'Antenna-Light', 'Helvetica', sans-serif;
$font-light-italic: 'Antenna-LightItalic', 'Helvetica', sans-serif;
$font-condensed-medium: 'AntennaCond-Medium', 'Helvetica', sans-serif;
$font-condensed-black: 'AntennaCond-Black', 'Helvetica', sans-serif;

// Colors - General

$color-header-bg: rgba(0, 0, 0, 0.4);

// Colors - Text

$color-white: #fff;
$color-aqua: #00a4c6;
$color-blue: #004e9c;
$color-yellow: #fbc441;
$color-gray-light: #f4f4f4;
$color-gray: #d8d8d8;
$color-gray-medium: #a2a2a2;
$color-gray-dark: #303b41;    // Default
$color-gray-darkest: #1c1b1f;
$color-status-green: #379811;
$color-status-red: #d90a0a;

// Colors - Forms

$color-form-text-disabled: #c0c4c6;
$color-form-text-placeholder: #979da0;

$color-button-primary-fill: $color-aqua;
$color-button-primary-text: $color-white;
$color-button-primary-border: transparent;

$color-button-secondary-fill: $color-white;
$color-button-secondary-text: $color-aqua;
$color-button-secondary-border: $color-aqua;

$color-button-clear-fill: transparent;
$color-button-clear-text: $color-white;
$color-button-clear-border: $color-white;

$color-button-hero-fill: rgba(0, 0, 0, 0.1);
$color-button-hero-text: $color-white;
$color-button-hero-border: $color-white;

$color-button-disabled-fill: #d6d8d9;
$color-button-disabled-text: #a3a9ac;
$color-button-disabled-border: transparent;

$color-input-default-fill: $color-white;
$color-input-default-text: $color-gray-dark;
$color-input-default-border: $color-gray;
$color-input-default-border-focus: $color-aqua;
$color-input-default-border-error: $color-status-red;

$color-input-submittable-fill: $color-white;
$color-input-submittable-text: $color-form-text-placeholder;
$color-input-submittable-border: $color-gray;

$color-input-submittable-clear-fill: transparent;
$color-input-submittable-clear-border: $color-gray;

$color-input-disabled-fill: $color-white;
$color-input-disabled-border: $color-gray;

$color-social-email: #8e1318;
$color-social-facebook: #004e9c;
$color-social-twitter: #00a6c9;
$color-social-instagram: #517fa2;
$color-social-google: #ef5947;
$color-social-pinterest: #c92027;
$color-social-youtube: #fc3432;

// Colors - Ratings

$color-star-yellow: #facf3d;

// Colors - Borders

$color-border-gray-transparent: rgba(189, 194, 199, 50);

// Colors - Boat Finder

$color-blue-gray: #f2f3f4;

// Font Sizes

$font-line-height-standard: 1.6em;

$font-size-body-copy: 14px;
$font-size-body-copy-small: 12px;
$font-size-body-copy-xsmall: 10px;

$font-size-h1: 70px;
$font-size-h1-small: 60px;

$font-size-h2: 38px;
$font-size-h2-small: 32px;

$font-size-h3: 30px;
$font-size-h3-small: 24px;

$font-size-h4: 26px;
$font-size-h4-small: 20px;

$font-size-h5: 20px;
$font-size-h5-small: 14px;

$font-size-article-headline: 16px;
$font-size-article-headline-small: 14px;
$font-size-article-headline-xsmall: 10px;

$font-size-quote: 24px;

$font-size-button: 14px;
$font-size-button-small: 12px;
$font-size-button-xsmall: 10px;

$font-size-input: 10px;
$font-size-input-large: 12px;
$font-size-input-xlarge: 14px;

// Dimensions

$dimension-button-width: 280px;

$dimension-button-height: 56px;
$dimension-button-height-small: 46px;
$dimension-button-height-xsmall: 36px;

$dimension-input-height: 36px;
$dimension-input-height-large: 46px;
$dimension-input-height-xlarge: 56px;

$dimension-header-height: 70px;
