///////////////////////////
// Color Names
// These have no semantic value and should only be used to populate other variables
///////////////////////////
// common colors
$colorname-alizarin-red: #e61b3a;
$colorname-confetti-yellow: #e8ed57;
$colorname-picton-blue: #1fb9eb;
// b&w colors as placeholders
$colorname-white: #fff;
$colorname-black: #000;
$colorname-dark-gray: lighten($colorname-black, 20%);
$colorname-med-gray: lighten($colorname-black, 40%);
$colorname-light-gray: lighten($colorname-black, 70%);
$colorname-lighter-gray: #e7e5e5;
$colorname-off-white: lighten($colorname-black, 97%);

///////////////////////////
// Colors
// Color variables with semantic names related to their purpose
///////////////////////////
$color-primary: #e61b3a;
$color-secondary: #1fb9eb;

// Utility color variables ///////////////
$color-headings: $colorname-black;
$color-links: $color-secondary;
$dimension-header-height: 115px;


// EXAMPLE FOR MQ REFERENCES =>

/*
body {
  background: green !important;
  @include breakpoint($small)  { background: orange !important; }
  @include breakpoint($medium) { background: teal !important; }
  @include breakpoint($large)  { background: orchid !important; }
  @include breakpoint($up-sm)  { background: aliceblue !important; }
}
*/

// Example Mixins ///////////////
@mixin opac-color($r, $g, $b, $pertc) {
  background: rgb($r, $g, $b);
  background: rgba($r, $g, $b, $pertc);
}

@mixin region-spacer($color, $direction: bottom) {
  border-top: 1px dotted $color;

  @if $direction == top {
    padding-top: 25px;
    margin-top: 25px;
  }

  @else {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}

@mixin borderradius($px: 5px) {
  border-radius: $px;
  // background-clip: padding-box;
}
