// EXAMPLE FOR MQ REFERENCES =>

/*
body {
  background: green !important;
  @include breakpoint($small)  { background: orange !important; }
  @include breakpoint($medium) { background: teal !important; }
  @include breakpoint($large)  { background: orchid !important; }
  @include breakpoint($up-sm)  { background: aliceblue !important; }
}
*/

// Example Mixins ///////////////
@mixin opac-color($r, $g, $b, $pertc) {
  background: rgb($r, $g, $b);
  background: rgba($r, $g, $b, $pertc);
}

@mixin region-spacer($color, $direction: bottom) {
  border-top: 1px dotted $color;

  @if $direction == top {
    padding-top: 25px;
    margin-top: 25px;
  }

  @else {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}

@mixin borderradius($px: 5px) {
  border-radius: $px;
  // background-clip: padding-box;
}

@mixin crisp-edges {
  //image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering: -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

@mixin font-aliasing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin persistent-mobile-scrollbar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

@mixin padder-base {
  display: block;
  height: 0;
  width: 100%;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: rem-calc($size);
  line-height: 1.2;
}

/**
 * Mixin for cover-sized images, with object-fit-image polyfill bonus
 */
@mixin object-fit-cover {
  object-fit: cover;
  object-position: center center;
  font-family: "object-fit:cover; object-position: center center;"; //OFI polyfill
}

@mixin subtle-text-shadow  {
  text-shadow: 0 3px 0.2em rgba(#000, 0.16);
}

@mixin clearfix() {
  &:before,
  &:after {
    display: table; // 2
    content: " "; // 1
  }
  &:after {
    clear: both;
  }
}
