///////////////////////////////
/// 1. City Override Variables
///////////////////////////////
$city-color-primary: #0e753c;
$city-color-secondary: #005da8;
$city-hero-bg: '../../images/kansascity/main-background.jpg';

///////////////////////////////
/// 2. Include Stylesheet
///////////////////////////////
@import 'styles';

///////////////////////////////
/// 3. City Override CSS Rules
///////////////////////////////
