///////////////////////////////
/// 1. City Override Variables
///////////////////////////////
$city-color-primary: #ed037c;
$city-color-secondary: #00aeef;
$city-color-tertiary: #5f4e90;

///////////////////////////////
/// 2. Include Stylesheet
///////////////////////////////
@import 'styles';

///////////////////////////////
/// 3. City Override CSS Rules
///////////////////////////////
