///////////////////////////////
/// 1. City Override Variables
///////////////////////////////
$colorname-miami-magenta: #e12b6e;
$colorname-miami-aqua: #2dace3;
$colorname-miami-orange: #f87f0f;
$colorname-miami-gray: #4d4d4d;

$city-color-primary: $colorname-miami-magenta;
$city-color-secondary: $colorname-miami-aqua;
$city-hero-bg: '../../images/atlanta/main-background.jpg';
// Set these vars to something that will make the header stand out from the
// hero on the homepage.
$city-header-gradient: rgba(0, 0, 0, 0.65);
$city-header-menu-item-color: #fff;

// Text
$color-text: $colorname-miami-gray;

// Font
$font-primary: 'CircularStd', 'Helvetica', sans-serif !default;

// All buttons
$button-border-radius: 5px;
$button-border-width: 1px;

// Button Primary
$color-button-primary-border: #fff;
$color-button-secondary-fill: transparent;

// Button Secondary
$color-button-secondary-border: $city-color-primary;
$color-button-secondary-text: $city-color-primary;

// Homepage
$color-homepage-countdown-background: $colorname-miami-orange;

///////////////////////////////
/// 2. Include Stylesheet
///////////////////////////////
@import 'styles';

///////////////////////////////
/// 3. City Override CSS Rules
///////////////////////////////
