///////////////////////////////
/// 1. City Override Variables
///////////////////////////////
$city-color-primary: #ed1c24;
$city-color-secondary: #00aeef;
$city-color-tertiary: #00aeef;

$seminar-filter--hide-class-type: true;
$seminar-filter--hide-topic: true;
$seminar-filter--hide-level: true;

///////////////////////////////
/// 2. Include Stylesheet
///////////////////////////////
@import 'styles';

///////////////////////////////
/// 3. City Override CSS Rules
///////////////////////////////
