///////////////////////////////
/// 1. City Override Variables
///////////////////////////////
$city-color-primary: #fcd209;
$city-color-secondary: #000;
$city-color-tertiary: #000;

///////////////////////////////
/// 2. Include Stylesheet
///////////////////////////////
@import 'styles';

///////////////////////////////
/// 3. City Override CSS Rules
///////////////////////////////
