///////////////////////////////
/// 1. City Override Variables
///////////////////////////////
$city-color-primary: #12ec33;
$city-color-secondary: #aa8417;
$city-color-tertiary: #135390;

///////////////////////////////
/// 2. Include Stylesheet
///////////////////////////////
@import 'styles';

///////////////////////////////
/// 3. City Override CSS Rules
///////////////////////////////
