///////////////////////////////
/// 1. City Override Variables
///////////////////////////////
$colorname-miami-magenta: #e12b6e;
$colorname-miami-aqua: #2dace3;
$colorname-miami-orange: #f87f0f;
$colorname-miami-gray: #4d4d4d;

$city-color-primary: $colorname-miami-magenta;
$city-color-secondary: $colorname-miami-aqua;
$city-color-tertiary: $colorname-miami-orange;

$city-hero-bg: '../../images/atlanta/main-background.jpg';

// Text
$color-text: $colorname-miami-gray;

// Font
$font-primary: 'CircularStd', 'Helvetica', sans-serif;

// All buttons
$button-border-radius: 5px;
$button-border-width: 2px;

// Button Primary
$color-button-primary-border: #fff;
$color-button-secondary-fill: transparent;

// Button Secondary
$color-button-secondary-border: $city-color-primary;
$color-button-secondary-text: $city-color-primary;

// Headline effects
$headline-effect-thickthin-color: $city-color-primary;

///////////////////////////////
/// 2. Include Stylesheet
///////////////////////////////
@import 'styles';

///////////////////////////////
/// 3. City Override CSS Rules
///////////////////////////////
// Miami has a narrower logo than most
.header-bar .logo {
  width: 148px;
}
