{% extends "@nmma_brick_layouts/layouts/_nmma_layout_base.html.twig" %}
{% block loop %}
  {% if loop.index is odd %}
    <div class="col-12-xs col-4-sm">
      {{ content[region] }}
    </div>
  {% else %}
    <div class="col-12-xs col-8-sm">
      {{ content[region] }}
    </div>
  {% endif %}
{% endblock %}
