<footer class="footer hide-on-embed">
  <section class="flex-container">
    <div class="row">
      <div class="col-12-xs col-3-sm">
        <div class="logo">
          <img src="/themes/custom/nmma/images/logo-color.png" alt="">
        </div>
        <div class="footer-nav">
          {{ footer_menu }}
        </div>
      </div>

      <div class="col-12-xs col-4-sm">
        <div class="screen-md-up-hidden">
          <div class="footer-sub-section">
            <a href="/resources/fishing-basics-how-to-get-a-fishing-license">Get a Fishing License</a><i class="icon icon-db-arrow-right"></i>
          </div>
          <div class="footer-sub-section">
            <a href="/marina-finder">Find a Marina</a><i class="icon icon-db-arrow-right"></i>
          </div>
          <div class="footer-sub-section">
            <a href="/beginners-guide">Receive a Beginner's Guide</a><i class="icon icon-db-arrow-right"></i>
          </div>
        </div>
        <div class="content screen-md-up">
          <div class="footer-sub-section">
            <h5 class="small">Get a Fishing License</h5>
            <p class="text-small">
              Most states require anglers to have a fishing license. Getting one is easy and affordable.
            </p>
            <a href="/resources/fishing-basics-how-to-get-a-fishing-license" class="small">Learn More</a>
          </div>
          <div class="footer-sub-section">
            <h5 class="small">Find a Marina</h5>
            <p class="text-small">
              Own a boat? Looking to charter or rent? Find marinas near and far.
            </p>
            <a href="/marina-finder" class="small">Learn More</a>
          </div>
          <div class="footer-sub-section">
            <h5 class="small">Receive a Beginner's Guide</h5>
            <p class="text-small">
              We’ll help you find and buy the right boat, show you the best way to haul and store it, and how to have fun along the way.
            </p>
            <a href="/beginners-guide" class="small">Learn More</a>
          </div>
        </div>
      </div>

      <div class="flex--vertical col-12-xs col-4-sm col-offset-1-sm">
        <div class="footer-cta">
          <div class="screen-md-up">
            <div class="footer-cta">
              <h5 class="small">Sign up for our Newsletter</h5>
              <p class="text-small">Get community news, buying bargains, and how-to-guides at your fingertips.</p>
              {{ newsletter_form }}
            </div>
          </div>
        </div>
        <div class="footer-social">
          <h5 class="small">Follow us on</h5>
          <nav>
            <ul>
              <li><a href="https://www.facebook.com/discoverboating"><i class="icon icon-db-social-facebook"></i></a></li>
              <li><a href="https://twitter.com/discoverboating"><i class="icon icon-db-social-twitter"></i></a></li>
              <li><a href="https://instagram.com/discoverboating"><i class="icon icon-db-social-instagram"></i></a></li>
              <li><a href="https://plus.google.com/+discoverboating"><i class="icon icon-db-social-google"></i></a></li>
              <li><a href="https://www.pinterest.com/discoverboating/"><i class="icon icon-db-social-pinterest"></i></a></li>
              <li><a href="https://www.youtube.com/user/discoverboating"><i class="icon icon-db-social-youtube"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="copyright text-small">
          &copy; 2018 National Marine Manufacturers Association. <br>
          All rights reserved.
        </div>
      </div>
    </div>
  </section>
</footer>

<script type="text/html" id="video-template">
  <div id="modal-video" class="modal-context modal-video">
    <div data-bind="css: FullScreenClass" class="modal-container" data-modal-control="container">
      <div class="modal-close" data-modal-control="close">
        <i class="icon icon-db-close"></i>
      </div>

      <div class="modal-content" data-modal-control="content">
        <div id="video-holder" class="video-holder">
          <div id="video">
            <div id="video-iframe"></div>
          </div>

          <div class="video-overlay"></div>

          <div class="video-actions">
            <div data-bind="css: PauseClass" class="video-play">
              <!-- Add class 'pause' when video is paused -->
              <a class="button" data-bind="click: TriggerPlayPause, event: { touchstart: TriggerPlayPause }" id="video-play" href="#">
                Play / Pause
                <i class="icon icon-db-video-play"></i>
              </a>
            </div>

            <div class="video-progress-bars" id="video-progress-total">
              <div class="video-progress-full"></div>
              <div data-bind="attr: { style: CurrentTimeProgressStyle }" class="video-progress-now" id="video-progress-current"></div>
              <div class="video-times" data-bind="event: { mousedown: TriggerProgress, touchstart: TriggerProgress }">
                <div data-bind="text: CurrentTimeLabel" class="video-time-now" id="video-time-current">
                </div>
                <div data-bind="text: TotalLengthLabel" class="video-time-full" id="video-time-total">

                </div>
              </div>
            </div>

            <div class="video-volume" id="video-volume-total">
              <span class="video-volume-bar" id="video-volume-current"></span>
              <a data-bind="event: { mousedown: TriggerVolume, touchstart: TriggerVolume }" href="#">
                Volume
                <i class="icon icon-db-sound"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
