button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  @include font-size($font-size-button);
  @include font-aliasing();

  align-items: center;
  background: $color-button-primary-fill;
  border: solid 1px $color-button-primary-border;
  border-radius: 3px;
  box-sizing: border-box;
  color: $color-button-primary-text;
  display: inline-flex;
  font-family: $font-bold;
  //height: $dimension-button-height;
  justify-content: center;
  outline: 0;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in;

  &.small {
    height: $dimension-button-height-small;
  }

  &.xsmall {
    height: $dimension-button-height-xsmall;
  }

  &.fixed {
    width: $dimension-button-width;
  }

  &:hover {
    background: $color-white;
    border-color: $color-button-primary-fill;
    color: $color-button-primary-fill;
  }

  &:disabled,
  &[disabled],
  &.disabled {
    background: $color-button-disabled-fill;
    border-color: $color-button-disabled-border;
    color: $color-button-disabled-text;
    cursor: default;

    &:hover {
      background: $color-button-disabled-fill;
      color: $color-button-disabled-text;
    }
  }
}

.button--secondary {
  @extend .button;

  background: $color-button-secondary-fill;
  border-color: $color-button-secondary-border;
  color: $color-button-secondary-text;

  &:hover {
    background: $color-button-primary-fill;
    border-color: $color-button-primary-text;
    color: $color-button-primary-text;
  }
}

.button--clear {
  @extend .button;

  background: $color-button-clear-fill;
  border-color: $color-button-clear-border;
  color: $color-button-clear-text;

  &:hover {
    background: $color-button-primary-fill;
    border-color: $color-gray-dark;
    color: $color-button-primary-text;
  }
}

.button--hero {
  @extend .button;

  background: $color-button-hero-fill;
  border-color: $color-button-hero-border;
  color: $color-button-hero-text;

  &:hover {
    background: $color-button-hero-border;
    border-color: $color-button-hero-border;
    color: $color-aqua;
  }
}
