$city-color-primary: #97c93d;
$city-color-secondary: #0075bf;
$city-hero-bg: '../../../images/atlanta/main-background.jpg';
// Set these vars to something that will make the header stand out from the
// hero on the homepage.
$city-header-gradient: rgba(0, 0, 0, 0.65);
$city-header-menu-item-color: #fff;

@import 'city-base';
