.mobile-nav {
  background: $color-white;
  border-bottom: solid 1px $color-gray;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  left: 0;
  padding: 0 20px 20px;
  position: absolute;
  top: $dimension-header-height;
  width: 100%;

  .menu-link--content {
    display: none;
  }

  lh {
    font-size: 20px;
    font-size: 1.25rem;
    margin-top: 25px;
    line-height: 1.2;

    &.find-a-marina,
    &.certified-dealers,
    &.boat-shows {
      font-size: 12px;
      font-size: 0.75rem;
      line-height: 1.2;
    }
  }

  & > nav > ul > li {
    border-bottom: solid 1px $color-border-gray-transparent;
    display: block;
    margin: 0;

    &:last-child {
      border-bottom: none;
    }
  }

  .subnav__trigger {
    @include font-size($font-size-body-copy);

    display: block;
    padding: 15px 0;
    text-transform: uppercase;

    .icon {
      position: absolute;
      right: 20px;
    }

    &.active {
      .icon::before {
        // Change to icon-db-arrow-down
        content: '\0041';
      }
    }
  }

  ul {
    @include font-size($font-size-body-copy-small);

    .subnav {
      margin-bottom: 20px;
      padding-bottom: 15px;

      h5 {
        margin-top: 25px;

        &:first-child {
          margin-top: 10px;
        }
      }

      ul {
        margin-top: 20px;

        li {
          margin: 0 0 20px;

          &:last-child {
            margin: 0;
          }
        }
      }

      &.collapsed {
        display: none;
      }

      .menu.level-1 {
        @include font-size($font-size-h5);

        & > li > a,
        & > li > span {
          display: block;
          margin: 0 0 20px;
        }
      }

      .menu.level-2 {
        @include font-size($font-size-body-copy-small);
      }
    }
  }
}

//
// Responsive breakpoints
//

// Desktop: > 992px

@include media-breakpoint-up(lg) {
  .mobile-trigger {
    display: none;
  }
}
