//Variation - no Hero
header.header.no-hero {
  background: $color-white;
  border-bottom: solid 1px $color-gray;
  position: relative;

  .menu.screen-lg-up ul > li > a {
    color: $color-aqua;
  }

  img.logo-color {
    display: block;
  }

  img.logo-white {
    display: none;
  }
}
