$megamenu-padding: susy-gutter() * 2;

.megamenu__drawer {
  margin: 0 auto;
  max-width: $content-max-width + $megamenu-padding * 2;

  & > .flex-container {
    & > div[class^='col-'],
    & > div[class*=' col-'] {
      border-right: solid 1px $color-gray;
      padding: 0 $megamenu-padding;

      &:last-child {
        border-right: none;
      }
    }

    & > .col-1-md { width: susy-span(1 of 12 set-gutters 0); }
    & > .col-2-md { width: susy-span(2 of 12 set-gutters 0); }
    & > .col-3-md { width: susy-span(3 of 12 set-gutters 0); }
    & > .col-4-md { width: susy-span(4 of 12 set-gutters 0); }
    & > .col-5-md { width: susy-span(5 of 12 set-gutters 0); }
    & > .col-6-md { width: susy-span(6 of 12 set-gutters 0); }
    & > .col-7-md { width: susy-span(7 of 12 set-gutters 0); }
    & > .col-8-md { width: susy-span(8 of 12 set-gutters 0); }
    & > .col-9-md { width: susy-span(9 of 12 set-gutters 0); }
    & > .col-10-md { width: susy-span(10 of 12 set-gutters 0); }
    & > .col-11-md { width: susy-span(11 of 12 set-gutters 0); }
    & > .col-12-md { width: susy-span(12 of 12 set-gutters 0); }
  }

  ul {
    lh {
      @include font-size($font-size-body-copy);

      display: block;
      font-family: $font-bold;
      margin-bottom: 10px;
    }

    li {
      @include font-size($font-size-body-copy-small);

      line-height: 2.5em;

      p {
        line-height: $font-line-height-standard;
        margin-top: 0;
      }
    }
  }

  .view-video-views {
    & > div {
      margin-bottom: 20px;
    }
  }

  p {
    @include font-size($font-size-body-copy-small);
  }

  h5 + p {
    margin-top: 0;
  }

  .grid-item {
    .title {
      @include font-size($font-size-body-copy);

      margin: 10px 0;
    }

    .slugline {
      margin-bottom: 20px;
    }
  }

  .play-block {
    margin-bottom: 0;

    a {
      width: 100%;
    }

    p {
      line-height: $font-line-height-standard;
      text-align: left;
    }

    .icon {
      text-align: center;
    }

    .video-embed-field-lazy-play {
      display: none;
    }
  }

  .curve-corner {
    background-position: 50% 50%;
    background-size: cover;
  }

  .image {
    min-height: 100px;
  }
  
  .view-article-views {
    width: 100%;
    
    .flex-container > div {
      margin-bottom: 20px;
    }
  }

  .grid-item {
    .title {
      margin-bottom: 5px;
    }

    .slugline {
      margin-bottom: 10px;
    }
  }

  #go-boating-inline {
    max-width: none;
  }
}
