
<div>
  <ul>
    <li>
      <a class="subnav__trigger" href="">Discover Boating</a>
      <div class="subnav collapsed">
        <h4><a href="">Go Boating Today</a></h4>
        <h4>Life on the Water</h4>
        <ul>
          <li><a href="">High Speed Holiday</a></li>
          <li><a href="">Get Away From it All</a></li>
          <li><a href="">Keys to the Good Life</a></li>
          <li><a href="">Refresh Your Relationships</a></li>
          <li><a href="">A Family Tradition</a></li>
          <li><a href="">Weekends on the Water</a></li>
          <li><a href="">Stories of Discovery</a></li>
        </ul>
        <h4>Activities &amp; Education</h4>
        <ul>
          <li><a href="">Freshwater Fishing</a></li>
          <li><a href="">Saltwater Fishing</a></li>
          <li><a href="">Watersports</a></li>
          <li><a href="">Sailing</a></li>
          <li><a href="">Education &amp; Training</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="subnav__trigger" href="">Buying a Boat</a>
      <div class="subnav collapsed">
        <h4>Boat Finder</h4>
        <ul>
          <li><a href="">Boat Brands &amp; Manufacturers</a></li>
          <li><a href="">Certified Boats</a></li>
          <li><a href="">Certified Dealers</a></li>
          <li><a href="">Engines</a></li>
          <li><a href="">Glossary of Boating Terms</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
        <h4>Boat Loan Calculator</h4>
        <ul>
          <li><a href="">Dealer Finder</a></li>
          <li><a href="">Marina Finder</a></li>
          <li><a href="">Boat Shows</a></li>
        </ul>
        <h4>Shopping for a Boat</h4>
        <ul>
          <li><a href="">Dealer Finder</a></li>
          <li><a href="">Marina Finder</a></li>
          <li><a href="">Boat Shows</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="subnav__trigger" href="">Owning a Boat</a>
      <div class="subnav collapsed">
        <h4>Life on the Water</h4>
        <ul>
          <li><a href="">Insuring your Boat</a></li>
          <li><a href="">Towing &amp; Trailering</a></li>
          <li><a href="">Storing Your Boat</a></li>
          <li><a href="">Boat Maintenance</a></li>
          <li><a href="">Safety</a></li>
          <li><a href="">Responsible Boating</a></li>
        </ul>
        <h4><a href="">Boating Destinations</a></h4>
        <h4><a href="">Trade-in or Sell your Boat</a></h4>
      </div>
    </li>
    <li>
      <a class="subnav__trigger" href="">Articles & Resources</a>
      <div class="subnav collapsed">
        <h4><a href="">All Articles &amp; Resources</a></h4>
        <h4><a href="">Boating Blog</a></h4>
        <h4><a href="">Video Library</a></h4>
      </div>
    </li>
  </ul>
</div>