<div class="hero js-nmma-carousel">
  <div class="slide">
    <section class="flex-container" style="background-image: url('../templates/styleguide/builder/assets/hero-image.png');">
      <div class="col-12-xs">
        <h1 class="small screen-md-up">Some Desktop Headline</h1>
        <h2 class="small screen-md-up-hidden">Some Mobile Headline</h2>
        <h5><p>Got a boat? Go boating!</p></h5>
        <a href="{{ content.field_carousel_link[0]['#url'] }}" class="button--hero fixed">Boats!</a>
      </div>
    </section>
  </div>
</div>