 <section {{ attributes.addClass('disruptor') }}>

        <div class="container flex-container">
            <div class="disruptor-content--left col-12-xs col-12-sm" style="background-color: white">
                <img src="/modules/custom/nmma_manufacturers/assets/boating_excitement.jpg" alt="Live the Boating Life">
            </div>
            <div class="disruptor-content--right col-12-xs col-12-sm" style="background-color: #f4f4f4;">
                <div class="disruptor-card" style="color: #1c1b1f;">
                <h3 style="color: #1c1b1f;">Ready for the Boating Life?</h3>
                <p>Let us help you find the perfect boat for your region</p>
                <div>{{ modalbutton }}</div>
                </div>
            </div>

        </div>

    </section>

