.pencil-ad {
  background: #ccc;

  & > .field > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    color: #666;
    font-size: $font-size-body-copy-small;
    margin: 0;
    margin-right: 0.5rem;
    line-height: 1.25;
    width: 240px;
  }

  .button--secondary {
    @include button--small;
    background-color: $blue;
    color: $white;
    font-size: 13px;
    font-family: "Proxima Nova Light";
    min-width: initial;
    padding: 0.5em 0.6em;
    line-height: 1.5;
    height: auto;

    &:hover,
    &:focus {
      // Copied from _button.scss
      background: $color-button-secondary-fill;
      border-color: $color-button-secondary-border;
      color: $color-button-secondary-text;
    }
  }
}

.pencil-ad-close {
  position: relative;

  &::before {
    color: #666;
    font-size: 0.25rem;
    position: absolute;
    bottom: 12px;
    left: 12px;
    cursor: pointer;
  }
}

.pencil-ads {
  text-align: center;
  overflow: hidden;
  max-height: 50px;

  .pencil-ad {
    display: none;
    margin: 0 auto;
    position: relative;
  }

  .pencil-ad-216 {
    display: block;
    width: 216px;
  }

  @media (min-width: 468px) {
    .pencil-ad {
        display: none;
    }

    .pencil-ad-468 {
        display: block;
        width: 468px;
    }
  }

  @media (min-width: 940px) {
    .pencil-ad {
        display: none;
    }

    .pencil-ad-940 {
        display: block;
        width: 940px
    }

    .pencil-ads .pencil-ad-940 .pencil-ad-closed {
        display: block;
    }
  }
}