.alias--request-information .block-webform-block {
  .form-item {
    // This is a terrible way to do this. But there are so many form styles
    // coming from so many other modules and there isn't time to assess the
    // impact of modifying the CSS there.
    display: block !important;
    margin-right: 0 !important;
    margin-bottom: 1em !important;
    padding: 0 2em;
  }

  fieldset .form-item {
    padding: 0;
  }

  label {
    display: block;
    color: $colorname-dark-gray;
    cursor: pointer;
    font-weight: $font-weight-semibold;
    margin: 0 0 0.1875em;
    padding-right: 4px;
    vertical-align: top;
  }

  input,
  textarea,
  select {
    width: 50%;
  }

  .intl-tel-input {
    display: block;
  }

  .button--primary {
    display: block;
    margin: 0 auto;
    width: inherit;
  }
}
