// Typography

///////////////////////////
// Font Names
// These have no semantic value and should only be used to populate other variables
///////////////////////////

// Global fallback
$font-fallback: 'Helvetica', sans-serif;

// Proxima Nova
$fontname-proxima-thin: 'Proxima Nova Thin', $font-fallback;
$fontname-proxima-light: 'Proxima Nova Light', $font-fallback;
$fontname-proxima-regular: 'Proxima Nova Regular', $font-fallback;
$fontname-proxima-semibold: 'Proxima Nova Semibold', $font-fallback;
$fontname-proxima-bold: 'Proxima Nova Bold', $font-fallback;

// FontAwesome
$fontname-fontawesome: 'FontAwesome';

///////////////////////////
// Fonts
// Font variables with semantic names related to their purpose
///////////////////////////
$font-headings: $fontname-proxima-bold;
$font-primary: $fontname-proxima-regular;

///////////////////////////
// Color Names
// These have no semantic value and should only be used to populate other variables
///////////////////////////

// Template grays
$colorname-white: #fff;
$colorname-black: #000;
$colorname-dark-gray: lighten($colorname-black, 20%);
$colorname-med-gray: lighten($colorname-black, 40%);
$colorname-light-gray: lighten($colorname-black, 70%);
$colorname-lighter-gray: #e7e5e5;
$colorname-off-white: lighten($colorname-black, 97%);

/// Other grays
$colorname-gray: #d8d8d8;
$colorname-gray-medium: #a2a2a2;
$colorname-gray-dark: #303b41;    // Default
$colorname-gray-darkest: #1c1b1f;
$colorname-gray-silver-sand: #c0c4c6;
$colorname-gray-oslo: #979da0;
$colorname-gray-unleaded: #7f7f7f;
$colorname-gray-iron: #d6d8d9;
$colorname-gray-chateau: #a3a9ac;
$colorname-gray-silver-sand-alt: #bdc2c7;

// Other colors
$colorname-alizarin-red: #e61b3a;
$colorname-confetti-yellow: #e8ed57;
$colorname-picton-blue: #1fb9eb;
$colorname-aqua: #00a4c6;
$colorname-blue: #004e9c;
$colorname-monza-red: #d90a0a;

///////////////////////////
// Colors
// Color variables with semantic names related to their purpose
///////////////////////////

// Utility color variables ///////////////
$color-headings: $colorname-black;
$color-links: $colorname-picton-blue;

// Colors - General
$color-header-bg: rgba($colorname-black, 0.4);

// Colors - Forms
$color-status-error: $colorname-monza-red;

$color-form-text-disabled: $colorname-gray-silver-sand;
$color-form-text-placeholder: $colorname-gray-oslo;

$color-button-primary-fill: $colorname-monza-red;
$color-button-primary-text: $colorname-white;
$color-button-primary-border: transparent;

$color-button-secondary-fill: $colorname-white;
$color-button-secondary-text: $colorname-gray-dark;
// TODO: Make a color var for this gray.
$color-button-secondary-border: $colorname-gray-unleaded;

$color-button-clear-fill: transparent;
$color-button-clear-text: $colorname-white;
$color-button-clear-border: $colorname-white;

$color-button-hero-fill: rgba(0, 0, 0, 0.1);
$color-button-hero-text: $colorname-white;
$color-button-hero-border: $colorname-white;

$color-button-disabled-fill: $colorname-gray-iron;
$color-button-disabled-text: $colorname-gray-chateau;
$color-button-disabled-border: transparent;

$color-input-default-fill: $colorname-white;
$color-input-default-text: $colorname-gray-dark;
$color-input-default-border: $colorname-gray;
$color-input-default-border-focus: $colorname-aqua;
$color-input-default-border-error: $color-status-error;

$color-input-submittable-fill: $colorname-white;
$color-input-submittable-text: $color-form-text-placeholder;
$color-input-submittable-border: $colorname-gray;

$color-input-submittable-clear-fill: transparent;
$color-input-submittable-clear-border: $colorname-gray;

$color-input-disabled-fill: $colorname-white;
$color-input-disabled-border: $colorname-gray;

// Font Sizes

$font-line-height-standard: 1.6em;

$font-size-body-copy: 16px;
$font-size-body-copy-small: 14px;
$font-size-body-copy-xsmall: 12px;

$font-size-h1: 70px;
$font-size-h1-small: 60px;

$font-size-h2: 38px;
$font-size-h2-small: 32px;

$font-size-h3: 30px;
$font-size-h3-small: 24px;

$font-size-h4: 26px;
$font-size-h4-small: 20px;

$font-size-h5: 20px;
$font-size-h5-small: 14px;

$font-size-article-headline: 16px;
$font-size-article-headline-small: 14px;
$font-size-article-headline-xsmall: 10px;

$font-size-quote: 24px;

$font-size-button: 16px;
$font-size-button-small: 13px;
$font-size-button-xsmall: 12px;

$font-size-input: 10px;
$font-size-input-large: 12px;
$font-size-input-xlarge: 14px;

// Dimensions

$dimension-button-width: 242px;

$dimension-button-height: 52px;
$dimension-button-height-small: 44px;
$dimension-button-height-xsmall: 36px;

$dimension-input-height: 36px;
$dimension-input-height-large: 46px;
$dimension-input-height-xlarge: 56px;

$dimension-header-height: 70px;
