////////////////////
/// Slab Mixins
////////////////////
@mixin slab-white {
  background-color: $color-slab-white;
}

@mixin slab-light-gray {
  background-color: $color-slab-light-gray;
}

@mixin slab-dark-gray {
  background-color: $color-slab-dark-gray;
}

@mixin slab-very-dark-gray {
  background-color: $color-slab-very-dark-gray;
}

@mixin slab-city-primary {
  background-color: $color-slab-city-primary;
}

@mixin slab-city-secondary {
  background-color: $color-slab-city-secondary;
}

@mixin slab-city-tertiary {
  background-color: $color-slab-city-tertiary;
}

@mixin slab-inverted {
  &,
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: $color-text-inverted;
  }

  & a {
    &,
    &:hover,
    &:focus {
      color: $color-text-inverted;
    }
  }
}

////////////////////
/// Slab Declarative Classes
////////////////////
.slab-white {
  @include slab-white;
}

.slab-light-gray {
  @include slab-light-gray;
}

.slab-dark-gray {
  @include slab-dark-gray;
}

.slab-city-primary {
  @include slab-city-primary;
}

.slab-city-secondary {
  @include slab-city-secondary;
}

.slab-city-tertiary {
  @include slab-city-tertiary;
}

.slab-very-dark-gray {
  @include slab-very-dark-gray;
}

.slab-inverted {
  @include slab-inverted;
}

////////////////////////////
/// LEGACY SLAB NAMES - *-background
////////////////////////////
.gray-background {
  @extend .slab-dark-gray;
}

.light-gray-background {
  @extend .slab-light-gray;
}

.white-background {
  @extend .slab-white;
}
